[2021-08-03 11:48] tmontanaro commented on #274
Hello, I'm sorry but I've never used this software since then. I could only suggest to change the MQTT broker with another one before giving up.

[2021-08-03 12:15] sonvt8 commented on #274
Thank you brother, What a pity to hear that!!

[2021-08-03 12:31] sonvt8 commented on #274
I have a connection to HiveMQ like that:
`    "broker": {
      "name":"cde4d6ad15b0446b874d454412e61396",
      "host":"cde4d6ad15b0446b874d454412e61396.s1.eu.hivemq.cloud",
      "port":8883,
      "security": {
        "type": "basic",
        "username": "my_username",
        "password": "my_password"
      }
`
Here are some logs I collected in:
Connector.log
`""2021-08-03 12:09:38" - DEBUG -

[2021-08-04 01:40] sonvt8 commented on #236
Dear,
I have the same problem and unable to connect to MQTT broker with security type "basic", although the test messages I transfer between 2 terminal using same parameters are successfully delivered. The connector.log show the error like this:

`""2021-08-03 12:09:38" - DEBUG - [mqtt_connector.py] - mqtt_connector - 308 - "MQTT Broker Connector" was disconnected. (<paho.mqtt.client.Client object

[2021-08-04 05:52] #519 closed

[2021-08-04 05:58] #511 closed

[2021-08-04 05:59] #463 closed

[2021-08-04 06:01] #220 closed

[2021-08-04 06:01] #232 closed

[2021-08-04 06:12] zbeacon commented on #509
Hi @TheSamabo ,

The gateway checks response from ThingsBoard MQTT transport service after data sending. And if the gateway receives acknowledge message, we think that the data was transferred successfully. The gateway is not responsible for data saving in the ThingsBoard database. I can only suggest to try the newest version of ThingsBoard and if the issue appears again - please let us know by cr

[2021-08-04 06:12] #509 closed

[2021-08-04 06:22] zbeacon commented on #543
Hi @pbrkr ,

Thank you for your interest in ThingsBoard IoT gateway.
`attributeRequest` section was presented in the configuration at the very beginning of the project development, at the moment it is renamed to `attributeUpdates`. But it was left in the code to keep the backward compatibility.

[2021-08-05 10:02] pbrkr commented on #543
@zbeacon please re-open this issue.

The code in thingsboard_gateway/connectors/mqtt/mqtt_connector.py still requires `attributeRequests` to be present in the config. If it is not present, an error is printed (see call to `load_handlers()` on line 73, error logged on line 135 of current master). If this section is just kept for backwards compatibility then no error should be printed if the `attrib

[2021-08-05 10:43] zbeacon commented on #543
I agree with you, we will remove the error logging in this case.

[2021-08-05 18:13] pbrkr opened #547 "[BUG] Automatic update is undocumented and cannot be disabled"
Reviewing the log messages from thingsboard-gateway I saw the following:

[code]

This led me to look at thingsboard_gateway/gateway/tb_updater.py and the code in thingsboard_gateway/gateway/tb_gateway_service.py which creates a TBUpdater object. This appears to be checking for updates to the thingsboard-gateway package and installing them using `pip` when available.

This is not a feature we want

[2021-08-06 05:56] zbeacon commented on #547
Hi @pbrkr ,

Thank you for your interest in ThingsBoard IoT gateway. This feature just check is update available for the current gateway instance and update the gateway only in case of receiving  RPC method "update" from ThingsBoard. you are right this feature is not documented yet, we will add information about this feature to our documentation.

[2021-08-06 07:27] samson0v commented on #543
Hi @pbrkr, fixed your issue, please, update your gateway to the latest version via the master branch.

[2021-08-13 15:39] antaresf commented on #372
in my case solved it by changing the letter in characteristicUUID to capital

[2021-08-16 09:12] DejonckheereWard opened #552 "[HELP] Thingsboard gateway stops sending data from opcua server"
**Describe the issue**
The gateway has succesfully sent data to thingsboard, where i can find it in the "latest telemetry" of the device. But has now stopped sending in new data, except for 4 values from the gateway itself:
	opc-uaconnectorEventsProduced
	opc-uaconnectorEventsSent
	eventsSent
	eventsProduced
All other values except these get updated.
Screenshot from thingsboard's latest telemetry:

[2021-08-16 13:11] DejonckheereWard commented on #552
Found the issue, somehow all the access tokens got swapped, unsure yet how this happened.

[2021-08-16 13:11] #552 closed

[2021-08-16 13:24] DejonckheereWard opened #553 "[BUG] Connector implementation not found for OPC-UA Connector""
**Describe the bug**
Since the latest version (2.7), when installing a fresh version of the Thingsboard Gateway, it fails to install the OPCUA connector properly. Specifically not installing opcua.

I managed to manually solve it by installing opcua using pip3 +
using this command to fix a missing package issue when importing opcua:
```sudo apt-get install libxslt-dev```

**Connector name:**
OPC-U

[2021-08-21 10:23] zhuyujie1993 commented on #533
fork

[2021-08-23 04:02] zhuyujie1993 opened #555 "[BUG]"
**Describe the bug**
Clear and concise description of what the bug is.

**Connector name (If bug in the some connector):**
[e.g. OPC-UA Connector]

**Error traceback (If available):**
[code]

**Versions (please complete the following information):**
 - OS: [e.g. Ubuntu 18.04]
 - Thingsboard IoT Gateway version [e.g. 2.0]
 - Python version[e.g. 3.7]

[2021-08-24 10:04] dwjbosman opened #556 "[BUG] Gateway low throughput for rest connector"
**Describe the bug**

I am having an issue with thingsboard gateway running on a Raspberry Pi 3B.

I am using the rest connector. The Rest connector is called by 4 sensors  with an interval of 5 seconds. So 4 requests per 5 seconds. The measurements themselves consist of about 5 attributes and <5 timeseries values.

It seems the gateway can't keep up. After some time a get

[code]
In the log I als

[2021-08-27 12:07] DejonckheereWard opened #557 "[HELP] OPCua-Connector - Combining data from all the OPC nodes into a single message per cycle"
**Describe the issue**
I'm looking to figure out how we can package all the data collected for every read (15 seconds) into a single message being pushed to thingsboard instead of every OPC value being sent seperately after being read.
This is causing a large amount of API calls / requests every 15 seconds, instead of just a single message with all the data read this pass.
It would also be nice to

[2021-08-29 08:57] nguyenlam185 opened #558 "[HELP] 'TBGatewayService' object has no attribute 'connectors_configs'"
Hi guys,
I am currently working with Thingsboard IoT Gateway and trying to get the RPC remote shell to work.
The Thingsboard IoT Gateway has been installed on a Raspberry Pi4 which's running on Ubuntu Server 20.04.
My tb_gateway.yaml looks like below:

[code]
I think the Gateway is able to connect to Thingsboard Server whichis hosted on another computer as the server attributes *active* value is *

[2021-09-02 11:52] samson0v commented on #555
Hi @zhuyujie1993, please provide more information about your Gateway configuration files (config/tb_gateway.yaml, config/opcua.json).
Thanks for your interest in ThingsBoard IoT Gateway!

[2021-09-02 22:18] feg624 opened #563 "[HELP] OTA Updates not working with gateway"
**Describe the issue**
We're evaluating Thingsboard for device management. Our objective is to install the Thingsboard gateway into an edge device, which then connects to the source devices. We're interested in the OTA Update feature to run on the gateway (to run a software update on the edge device)... we were able to open a RPC Shell from the dashboard into the gateway, but we haven't had luck w

[2021-09-03 00:52] zhuyujie1993 commented on #555
opcua.json: 'deviceTypePattern'&nbsp;&nbsp;Could not be specified successfully

tb_gateway.yaml

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "thingsboard/thingsboard-gateway"                                                                                    ***@***.*

[2021-09-03 08:54] zbeacon commented on #555
Hi @zhuyujie1993 ,

Thank you for your interest  in ThingsBoard IoT gateway, but unfortunately,  we cannot help you with your issue because of you didn't provide us requested information (content of opcua.json file and any information  about the opcua server you used). We will close this issue, if you will be unable to solve the issue  by changing configuration - please open the new issue, but pro

[2021-09-03 08:54] #555 closed

[2021-09-03 08:59] HeartsK opened #565 "use modbus protocol connect multiple devices report failed: [Errno 111] Connection refused""
use modbus protocol connect multiple devices report: ERROR - [sync.py] - sync - 219 - Connection to (192.168.X.X, 5020) failed: [Errno 111] Connection refused"

[2021-09-06 06:41] zbeacon commented on #563
Hi @feg624 ,

Thank you for your interest in ThingsBoard IoT gateway. At the moment the gateway doesn't support OTA updates, but we are going to add support of this feature to the gateway.

[2021-09-06 07:20] #525 closed

[2021-09-06 07:21] #543 closed

[2021-09-06 07:21] #544 closed

[2021-09-06 07:21] #547 closed

[2021-09-06 07:23] #498 closed

[2021-09-06 07:25] #390 closed

[2021-09-06 07:25] #404 closed

[2021-09-06 09:02] samson0v commented on #533
Hi @keyiis, please update your Gateway to the newest version via the master branch, if it does not help, please provide new info.
Thanks for your interest in ThingsBoard IoT Gateway!

[2021-09-06 09:09] samson0v commented on #528
Hi @Shining9311 , please provide info about your opcua config file (config/opcua.json) and the structure of your OPC-UA server.
Thanks for your interest in ThingsBoard IoT Gateway!

[2021-09-06 10:06] zbeacon commented on #558
Hi @nguyenlam185 ,

Please try to use the version from the master branch.

[2021-09-06 10:53] zbeacon commented on #536
Hi @googlehim ,

Please try to use the latest version from the master branch, this issue should be solved there.

[2021-09-06 10:53] #536 closed

[2021-09-06 10:53] #439 closed

[2021-09-06 11:02] zbeacon commented on #529
Hi @jainabhishekindia ,

yes, you can do like you told. Please create a new issue, if you cannot solve your problem.

[2021-09-06 11:02] #529 closed

[2021-09-06 11:16] #340 closed

[2021-09-06 11:19] #399 closed

[2021-09-06 12:40] zbeacon commented on #403
Hi @chennakeshavaSoC ,

The CAN connector reads bytes from CAN bus and then you can parse them on ThingsBoard and process. The gateway doesn't support higher level on CAN bus then reading bytes (at the moment).

[2021-09-08 07:51] csm1sh opened #566 "[HELP] Is there any guide on how to setup development environment."
**Describe the issue**
Report the below error when I try to run the source code.

C:\Users\jhu019\Downloads\thingsboard-gateway-master\thingsboard_gateway>python tb_gateway.py
Traceback (most recent call last):
  File "C:\Users\<HOME>\Downloads\thingsboard-gateway-master\thingsboard_gateway\tb_gateway.py", line 16, in <module>
    from thingsboard_gateway.gateway.tb_gateway_service import TBGatewa

[2021-09-08 15:00] pbrkr commented on #547
Hi @zbeacon, if the intention is to resolve these concerns, why has this issue been closed? If you intend to resolve these concerns I would expect that the issue be left open. Otherwise, where is this defect tracked?

[2021-09-08 16:08] jak42 opened #568 "Key Error in bacnet_converter.py"
The scan_network() function is called twice before the loop in run() yet there is no guard around the callback_parms[ ] dictionary in scan_network() function such as before the run loop in run(). The code for scan_network() below adds a guard to ensure the "uplink_converter" and "downlink_converter" keys are populated.

          jak

### bacnet_converter.py:scan_network()

    def scan_network(se

[2021-09-09 06:15] samson0v commented on #566
Hi @csm1sh, you have to install all requirements using the next command:
[code]

Thanks for your interest in ThingsBoard IoT Gateway.

[2021-09-09 08:50] #556 closed

[2021-09-09 14:49] feg624 commented on #563
Thanks @zbeacon for the clarification! One additional question though, do you know whether Thingsboard provides a solution that allows us to send OTA Updates to the device on which we have the gateway running? or to another device without the gateway involved?

I'm asking as when reading the docs and looking at the Thingsboard repos, it seems to me that we would need to develop the client software

[2021-09-10 15:06] jak42 commented on #568
Investigating further, I found an additional problem that was not covered by the fix above. The fix in the function below catches all cases of unloaded uplink converters before reference.

Thanx.

           jak

--------------------------------
    def __bacnet_device_mapping_response_cb(self, iocb, callback_params):
        mapping_type = callback_params["mapping_type"]
        config = callback

[2021-09-10 20:53] paulpoteat opened #569 "[HELP] Continue to receive a timeout error."
**Describe the issue**
We installed the community version of TB as well as the TB Gateway on Ubuntu 20.04 LTS through EC2 and are constantly receiving the error for socket.timeout: timed out for the MQTT broker. We have port 1883 open along with other ports and have yet to be able to get a mosquito_pub to connect to the MQTT broker. It just gives us a timeout error. The TB server is running just f

[2021-09-11 04:21] paulpoteat commented on #569
this item can be closed we finally figured out that when the TB gateway is installed on the same endpoint as the TB server you have to change the port from 1883 to 1882 and open the port for the MQTT data to be accepted. However there is still an error that is being reported about the MQTT connector timing out but we are looking into it after changing the port and clearing out the logs. So more th

[2021-09-14 06:42] #569 closed

[2021-09-14 12:04] samson0v commented on #565
Hi @HeartsK, please update your ThingsBoard IoT Gateway to the newest version via the master branch.

[2021-09-15 06:59] KOTTIRAMSAI opened #570 "OAuth2 Login Provider as Custom"
Hi! I have configure oAuth2 and I have provided url's and I set login provider as Custom for to integrate keycloak and when i am trying to login it will creating as customer users but i want as tenant users! can anyone help me!

[2021-09-16 12:10] nguyenlam185 commented on #558
Hi @zbeacon ,
Thanks for your reply.
I followed strictly the installation guide from this link [https://thingsboard.io/docs/iot-gateway/install/deb-installation/](https://thingsboard.io/docs/iot-gateway/install/deb-installation/)
So, I don't know the packages is on which branch, also I have not found any instruction on installing the software from git repository.
Could you please brief me how to i

[2021-09-16 13:26] #553 closed

[2021-09-17 12:38] santobedi commented on #86
Hello @zbeacon , I've installed Thingboard Gateway with the Python module, however, I'm unable to review the gateway statistics (in the Latest Telemetry tab) in the web UI.  After changing the host, port, and accessToken in tb_gateway.yaml file, I used  sudo python3 -c 'from thingsboard_gateway.gateway.tb_gateway_service import TBGatewayService; TBGatewayService("./tb_gateway.yaml")' command for t

[2021-09-17 12:59] santobedi opened #571 "TimeoutError: [Errno 110] Connection timed out with python module of thingsboard gateway"
I've installed Thingboard Gateway with the Python module, however, I'm unable to review the gateway statistics (in the Latest Telemetry tab) in the web UI. After changing the host, port, and accessToken in tb_gateway.yaml file, I used sudo python3 -c 'from thingsboard_gateway.gateway.tb_gateway_service import TBGatewayService; TBGatewayService("./tb_gateway.yaml")' command for the new configuratio

[2021-09-18 03:12] nguyenlam185 commented on #558
Hi @zbeacon,
Just want to let you know that rolling back to the version 2.6 worked well now.
However, I always want to try to lasted version, so I would appreciate if you could help me out of the issue of v2.7

Best regards

[2021-09-20 10:24] #571 closed

[2021-09-22 06:42] WeiTangLau opened #573 "[HELP] BACnet Connector not connecting"
**Describe the issue**
I have added the configurations for the BACnet connectors in `tb_gateway.yaml` file. However, I am unable to get the attributes.

**Configuration** (Attach your configuration file)
tb_gateway.yaml
[code]

I realised that the `service.log` mentioned that Connector implementation not found. Do I have to write custom bacnet connector? or can use the default? This is because und

[2021-09-22 07:40] #573 closed

[2021-09-22 08:16] WeiTangLau opened #574 "[HELP] Unable to get BACnet connector working"
**Describe the issue**
I am trying to connect to scrape the data from my devices using BACnet protocol. However, after I have done with the configurations, I am not able to get the data. Furthermore, my `connection.log` is empty.

Also I am actually using BACnet IP device as an interface to BACnet MSTP devices. Will thingsboard be able to communicate with BACnet MSTP devices in this manner? Would

[2021-09-22 09:38] santobedi opened #575 "Disconnected client, result code 1 [Thingsboard gateway-Python module]"
**Describe the issue**
![screenshot](https://user-images.githubusercontent.com/10918248/134342010-4ef19cf8-a81c-4e6a-89a7-318e3fdb0161.PNG)

Why is the client getting disconnected frequently? I can see a device being created in my Web UI (as per deviceNameJsonExpression and deviceTypeJsonExpression in my mqtt.json file) and the telemetry is being updated on this device. However, when I exit out of

[2021-09-22 10:01] chenliangrui opened #576 "How to send rpc call through gateway to device?"
Device send data through gateway to thingsboard is fine.Now, I cant figure out how to send rpc call through gateway to device.
In my opinion, should send rpc call to gateway,and then gateway handle that ,and gateway create topic in external broker,so my device can subscribe like ‘sensor/SN-001/request/no-reply/1’ in order to recive message.If im right,how can i send rpc call to gateway.(use Contro

[2021-09-22 12:32] RudolphAschmoneit opened #578 "[HELP]"
**Describe the issue**
Hey at all. I try to get a thingsboard_gateway up and running, which describes to a mosquitto broker hosted on the same machine and piping it to a thingsboard also hosted on the same machine. Tb and tb_gw are setuped as deamons. I use the mqtt connector. The gateway could connect to the brooker and the gateway succesful, but it doesn't find the devices:

[code]

So I think t

[2021-09-23 03:22] chenliangrui commented on #576
Emmmm...Now its fine,i just forget when i restart the btoker my device info be cleared and i need notice gateway about my device.
Thingsboard is perfect!

[2021-09-23 06:04] #576 closed

[2021-09-23 12:34] samson0v commented on #578
Hi @RudolphAschmoneit, you configured your IoT Gateway right, but if you want to it works, you have to send data to the broker from a device. There are examples with your config in my PC:
<img width="1007" alt="зображення" src="https://user-images.githubusercontent.com/43861229/134507361-4993d868-fde0-4531-b81d-c15ad33f54e7.png">

<img width="1516" alt="зображення" src="https://user-images.githubu

[2021-09-23 17:22] RudolphAschmoneit commented on #578
Hi @samson0v I am sending messages from a device to the broker. When I use mosquitto_sub I also see this messages. But thank you for your hint with the DEBUG level in logs, I should have tried this early. I will let you know next week if this could fix my problem. Have a nice weekend.

[2021-09-24 06:57] samson0v commented on #575
Hi @santobedi, when you run only thingsboard-gateway, that's run gateway as a terminal app but not as a background task (as a service), for this reason, when you logged out from your server, the terminal close all "foreground" task.
For more understanding example: if you run the VIM/Nano/Emacs in your terminal and logged out, the text editor will close.
Thanks for your interest in ThingsBoard IoT

[2021-09-24 07:04] samson0v commented on #574
Hi @WeiTangLau, please change all log levels from INFO to DEBUG in config/logs.conf and provide the error logs from your terminal.

[2021-09-24 07:09] samson0v commented on #558
Hi @nguyenlam185, if you want to install IoT Gateway from the master branch, you have to:
1. clone the repository
2. `cd thingsboard-gateway`
3. create virtual environment `python3 -m venv venv`
4. activate the virtual environment `source venv/bin/activate`
5. `python setup.py install`
6. and finally run the Gateway `python thingsboard-gateway/tb-gateway.py`

[2021-09-24 07:43] samson0v commented on #563
Hi @feg624, you can use [Python SDK](https://github.com/thingsboard/thingsboard-python-client-sdk) or [Arduino SDK](https://github.com/thingsboard/thingsboard-arduino-sdk).

[2021-09-24 08:36] santobedi commented on #575
@samson0v  Thank you for the reply. My system is working properly now (after starting the gateway). However, I still wonder about the frequent 'Disconnected' debug msg (it happens after rerunning the gateway with python command and the 'thingsboard-gateway' command. Is it a normal behavior?

[2021-09-24 08:57] samson0v commented on #575
@santobedi no, it is very strange behaviour.

[2021-09-24 10:07] murp-C2D2 commented on #465
Hi, your solution does work as well but the

[2021-09-24 10:11] murp-C2D2 commented on #465
Hi @zbeacon,
are there any updates in regards to this bug? The above provided patch/solution seems to be not yet integrated in the current release version.
It would be really nice if this can be integrated/ fixed.

[2021-09-24 10:21] samson0v commented on #502
Hi @garudaonekh, if you want to use your specific data format and custom logic to reproduce your data, you can use [custom connector](https://thingsboard.io/docs/iot-gateway/custom/).
Thanks for your interest in ThignsBoard IoT Gateway!

[2021-09-24 12:21] #563 closed

[2021-09-28 07:02] santobedi opened #579 "Failed to start thingsboard-gateway.service: Unit thingsboard-gateway.service not found."
**Describe the issue**
I've installed the Thingsboard gateway in my NanoPi device. I attempt two times (1) Installation from Pip and (2) Installation from sources (Latest version). Both times, I can see the server attribute of the gateway device in Web UI as active. However, when I run the command   **sudo systemctl start thingsboard-gateway** ,I get **Failed to start thingsboard-gateway.service:

[2021-09-28 07:08] santobedi opened #580 "SyntaxError: invalid syntax : ERROR - [tb_loader.py] - tb_loader - 72 - invalid syntax (mqtt_connector.py, line 371)"
**Describe the issue**
After installing and editing the configurations (tb_gateway.yaml and mqtt.json), I run **sudo python3 -c 'from thingsboard_gateway.gateway.tb_gateway_service import TBGatewayService; TBGatewayService("./tb_gateway.yaml")'** command to save the changes. However, I get the following ERROR:
![Capture](https://user-images.githubusercontent.com/10918248/135039683-8d1dedb2-c396-45

[2021-09-28 09:53] chenliangrui opened #581 "Modbus,serial,multiple devices,PermissionError!!"
I add two devices in modbus_serial.json like this:
------------------------------------------------------
{
  "server": {
    "name": "Modbus Default Server",
    "type": "serial",
    "method": "rtu",
    "port": "COM1",
    "baudrate": 19200,
    "timeout": 35,
    "devices": [
      {
        "unitId": 1,
        "deviceName": "modbus device",
        "attributesPollPeriod": 5000,
        "time

[2021-09-29 10:49] moharash opened #584 "Thingsboard IoT Gateway -- BACnet Connector [HELP]"
**Describe the issue**
Hi, i am trying to connect Thingsboard gateway to a bacnet ip device. the gateway and the device are on the same switch with same network.

thingsboard iot gateway installed on Ubuntu and all required settings are there.

the IoT gateway already registered to the Thingsboard platform:
![image](https://user-images.githubusercontent.com/66445698/135253743-b068ea84-15a7-42db-8a

[2021-09-30 07:44] moharash commented on #584
Got below from Connector log

![image](https://user-images.githubusercontent.com/66445698/135409484-7e4ea8fa-8cd0-45d0-9e8a-37063f35b78e.png)

[2021-09-30 08:02] moharash commented on #584
service log

![image](https://user-images.githubusercontent.com/66445698/135412186-ff2293ef-dd1e-437b-aa98-9c27866752ef.png)

![image](https://user-images.githubusercontent.com/66445698/135412343-403ce266-52fe-4042-861a-c2c4d3a5cc09.png)

[2021-09-30 10:12] zbeacon commented on #584
Hi @moharash ,

Thank you for your interest in ThingsBoard IoT gateway.

It looks like some misconfiguration, could you provide your configuration json file for BACnet connector?

[2021-09-30 10:14] zbeacon commented on #580
Hi @santobedi ,

It looks like you used the python with version lower then 3.7, could you try to install Python 3.7 or above and try to run the gateway again?

[2021-09-30 10:16] zbeacon commented on #579
Hi @santobedi ,

Thank you for your interest i ThingsBoard IoT gateway.
If you installed the gateway from the sources - you don't have a thingsboard-gateway.service file in /etc/system/systemd/ folder, so it is impossible to run the gateway as a daemon.
In order to solve this, please try to install the gateway using deb package - this installation will add a service file.

[2021-09-30 15:05] moharash commented on #584
Hi @zbeacon ,

thank you for your reply,

kindly find attached the bacnet.json file and a 2 screenshots from a BACnet explorer showing the device
[bacnet.txt](https://github.com/thingsboard/thingsboard-gateway/files/7260459/bacnet.txt)
s.
![image006](https://user-images.githubusercontent.com/66445698/135481301-4086aedb-b1ec-49ce-b607-be4c2df47938.jpg)
![image005](https://user-images.githubusercont

[2021-10-01 05:42] zbeacon commented on #578
Hi @RudolphAschmoneit ,

You have a wrong topic filter in your configuration:
`"topicFilter": "/telemetry/+"`
 It looks like you publish to the topic telemetry/+ , but these are different topics, please change topic filter to `"topicFilter": "telemetry/+"` and run the gateway again. Let us know about the results.

[2021-10-01 11:03] jmagnette opened #586 "[BUG] (Improvements) Retain attribute messages"
**Describe the bug**
Hello,
for one of the project on which I'm currently working, we decided to use thingsboard to handle our device connections as well as sensors connected to it.
As we already have an MQTT broker running locally, we decided to use the thingsboard gateway as our communication is not always stable. Currently, some parameters are stored as shared_attributes of our device, and thos

[2021-10-03 18:36] RudolphAschmoneit commented on #578
Hi @zbeacon Thank's for your answer. That helped! And sorry for not seeing this little mistake by myself

[2021-10-03 18:36] #578 closed

[2021-10-04 00:35] nguyenlam185 commented on #558
Hi @samson0v,
Thank you for your instruction. I have tried it and got the following log
[code]
However, I installed the gateway (following the guideline from the documentation) on a fresh installed Ubuntu Raspberry worked well. Maybe it conflicted with something on my Raspberry at the beginning.
So, I think we can close this ticket

Thank you for your support

[2021-10-04 00:35] #558 closed

[2021-10-04 08:39] moharash commented on #584
Hi @zbeacon ,

what do u think?

[2021-10-04 11:35] santobedi commented on #579
Hello @zbeacon ,

I installed the gateway using deb package (Raspberry Pi 3, Ubuntu 20.04 LTS) and configured the **tb_gateway.yaml** (Modbus connector) and **modbus.json** files. Then I run s**udo python3 -c 'from thingsboard_gateway.gateway.tb_gateway_service import TBGatewayService; TBGatewayService("./tb_gateway.yaml")'** to save the configuration. I can see the devices been created and latest

[2021-10-04 11:40] santobedi commented on #579
In addition, the [Disconnected](https://github.com/thingsboard/thingsboard-gateway/issues/575) issue is still prevailing. Any solutions to it? @samson0v  @zbeacon

[2021-10-05 12:56] kxiopl opened #587 "[HELP]"
**Describe the issue**

There is no provision for Flow control using GPIO in Modbus Serial connector. I think it is necessary to have this option. Is there a workaround ?

**Connector name : modbus_serial

**Versions (please complete the following information):**
-  Raspbian OS on RPI 3B+
 - Thingsboard IoT Gateway version [2.8]

[2021-10-07 09:53] subtux opened #588 "odbc connector timeseries ts need lower case instead of uppercase[HELP]"
Hi All,
I need to read the time stamp from a Oracle db with the odbc connector in Thingsboard.
The connector is working i get data from the db in Thingsboard, the only thing i can't get work is that the field name TS is in upper case and Thingsboard needs ts lower case.
Now is the sollution in a Oracle client to set "ts" quotes and that works fine.
But when i want to set those qoutes in the odbc.j

[2021-10-08 10:46] santobedi opened #589 "[HELP] Unable to install thingsboard gateway on Ubuntu (DEB)/Raspberry Pi 3"
**Describe the issue**
Trying to install thingsboard gateway on a new device following [this](https://thingsboard.io/docs/iot-gateway/install/deb-installation/) link. I can see the file **python3-thingsboard-gateway.deb** downloaded in my system. However, installation does not happen (as shown in the attached screenshot).

![ThingsboardGatewayInstallation](https://user-images.githubusercontent.com

[2021-10-11 06:29] santobedi commented on #589
It seems it's difficult to uninstall the previously installed thingsboard-gateway (somehow, I don't know why). I used the **reinstall** command and the thingsboard gateway is now installed in my system.

[2021-10-11 06:29] #589 closed, assigned to imbeacon

[2021-10-12 11:24] #588 closed, assigned to imbeacon

[2021-10-12 19:45] santiago-ruiz opened #591 "[BUG] Modbus: Reading bytes some times returns integer instead of string"
**Describe the bug:**
I'm using Thingsboard-Gateway to read values from a Modbus device and send it to Thingsboard Cloud. Everything works fine but sometimes I receive a strange value. After looking in the receiving messages by the Rule Chain in the Cloud, I found that when reading values with the type `bytes` if the hexa value doesn't contain a character (a-f), the value in the JSON message is se

[2021-10-13 07:32] zbeacon commented on #579
Hi @santobedi

This Exception means that you cannot read this address using function from configuration. Server doesn't allow it. Please try another function or address.

[2021-10-13 07:46] #580 closed

[2021-10-13 08:05] #566 closed

[2021-10-13 08:10] #528 closed

[2021-10-13 08:16] zbeacon commented on #526
Hi @JoachimVeulemans ,

This issue is fixed in the latest version and in the master branch. Please try to use it.

[2021-10-13 13:52] santobedi commented on #579
Hello @zbeacon ,
Thank you for the clarification. The powertag I use has ASCII as the datatype for many register addresses as given [here](https://www.productinfo.schneider-electric.com/powertaglinkuserguide/powertag-link-user-guide/English/BM_PowerTag%20Link%20D%20User%20Manual_4af62430_T000501355.xml/$/TPC_SynthesisTableIdentificationREF_0000550649). However, thingsboard does not support ASCII a

[2021-10-18 06:37] zbeacon commented on #574
Hi, @WeiTangLau ,

It looks like the issue is in configuration file. Please check that maxApduLengthAccepted parameter in your configuration json file is a number and not a string.

[2021-10-19 13:26] samson0v commented on #384
Hi @JFMALBI, please update your Gateway via the master branch and it seems that your BACnet server(10.1.0.242) and devices(10.4.30.187) aren't in the same network and they can't find each other. Try to start the BACnet server on the 10.4.30.X IP address.

[2021-10-19 14:11] #502 closed

[2021-10-19 14:16] zbeacon commented on #493
Hi @TheSamabo ,

This issue relates to the previous version of the gateway, it should be fixed in the latest version, please try to use it or the master branch version. If the issue appears again - please open a new issue and link this issue to it.

[2021-10-20 05:52] zbeacon commented on #574
@WeiTangLau ,

Now it looks like the gateway cannot find the BACnet device in the network:
It sends WhoIs request and doesn't receive IAm response. Please check the address of the device, is it correct.
If it is correct please share your bacnet.json configuration file to ibarkov@thingsboard.io and give an access to this device (VPN or it's public IP), we will try to connect to it and configure the

[2021-10-20 06:09] WeiTangLau commented on #574
Hi @zbeacon

below is my `bacnet.json`

[code]

Furthermore, here are the devices that are running on the network

![image](https://user-images.githubusercontent.com/42403590/138037431-a38b9ce0-cfe5-4553-a321-88ec5de651ae.png)

We are currently running on TB Cloud and TB Edge. I not sure how to give you access.

[2021-10-20 09:49] samson0v commented on #465
Hi @SamueleCarboni, please, update your Gateway to the newest version via the master branch and retest your bug.
If it doesn't help, let us know.

Thanks for your interest in ThingsBoard IoT Gateway.

[2021-10-21 13:09] samson0v commented on #539
Hi @yvo-pfenninger, it seems that your Modbus config file has some misconfiguration. Please, provide us with your config files for modbus and modbus-serial.
Thanks for your interest in ThingsBoard IoT Gateway.

[2021-10-21 18:07] igloodan opened #597 "Gateway/MQTT Client TLS Parameters"
I've set up HAProxy to terminate TLS at the ThingsBoard MQTT server using the existing server (domain) certificate, I'm then using `"tls": true` in my gateway configuration file.

As I do not have `caCert`, `privateKey `or `cert `in my configuration file, the below `if` statement resolves to false and calls `self.client._client.tls_insecure_set(True)`. I wish to override this as I do want the serv

[2021-10-23 13:28] psxbox opened #600 "[HELP] How can I implement custom connection by tcp?"
Hello. Need implement connection via tcp protocol for reading data from enrgy meters.
How can I do that?
Thanks.

**Versions:**
 - OS: Ubuntu 20.04
 - Thingsboard IoT Gateway version 2.2.4
 - Python version 3.8

[2021-10-23 21:24] knityanand opened #601 "[HELP] Gateway is not saving any logs/"
**Describe the issue**
Hi !!!
   I am new to Thingsboard, I have set up a thingsboard IOT gateway and a thingsboard IOT server using Docker on Windows 10... I see no logs in the IOT gateway log folder and also see no logs on the Thingsboard server.

**Configuration** (Attach your configuration file)
**Notate: Remove Access token from file if you wanna attach tb_gateway.yaml**
[tb-gateway.txt](http

[2021-10-25 07:59] #597 closed, assigned to nobody

[2021-10-25 14:36] #591 closed, assigned to imbeacon

[2021-10-25 14:37] #557 closed, assigned to imbeacon

[2021-10-26 20:45] knityanand opened #606 "[HELP] BACnet device not getting detected"
**Describe the issue**
Thingsboard IOT gateway does not seem to detect my bacnet devices. The logs do not show any error. But if I use any other IP address other than 127.0.0.1 in the address of the general section like 192.168.29.40, it throws an error.. Also, when I use 127.0.0.1, it does not detect the device and hence it is not added in my thingsboard server. In contrast, the modbus device is

[2021-10-27 07:51] rduivenvoorde opened #607 "[BUG] Remote Logging generates too large messages, killing communication between Gateway and TB"
Running Gateway  2.8 and Thingsboard 3.3.1

When enabling Remote Logging (DEBUG level) on the gateway as described here:
https://thingsboard.io/docs/iot-gateway/guides/how-to-enable-remote-logging/

The communication between Gateway and Thingsboard stops (acutally disabling all sensors) with a message that the (logging) message is too large (see below).

WIthout logging all works fine. We have to

[2021-10-27 09:07] santobedi opened #608 "OSError: [Errno 99] Cannot assign requested address : BACnet connector"
**Describe the issue**
I'm trying to use BACnet connector in the Thingsboard gateway. The default configuration file (bacnet.json) seems confusing (I think the nomenclature does not match with the real-world BACnet protocol) and also it has not been updated for two years as seen [here](https://github.com/thingsboard/thingsboard-gateway/tree/master/thingsboard_gateway/config).

I [simulated](https:

[2021-10-28 03:40] AhmadMagdi opened #609 "[HELP] BACnet Connector Doesn't Detect BACnet Device"
**Describe the issue**
I have The Thingsboard IoT Gateway up on a virtual machine, and I'm trying to get the BACnet connector to work. I have, on the same local network, another virtual machine running a BACnet device using [BACnet Stack](https://github.com/bacnet-stack/bacnet-stack), which responds to WhoIs requests by sending an IAm request (I can verify this using BACnet Stack WhoIs).
![Screens

[2021-10-29 05:40] #601 closed, assigned to imbeacon

[2021-10-29 05:43] #608 closed, assigned to imbeacon

[2021-10-29 08:53] AngeLinuX99 opened #610 "[HELP] Avoid RPC server double quotation marks with escape characters"
Avoid RPC Server Double quotes with escape characters to my device because My MQTT broker does not support it.

Hello, I have defined an RPC button to send donwlinks to my device.

RPC Method: no-reply
RPC Method Params: {"confirmed":false,"fPort":2,"data":"pgE="}

When I activate the button, my thingsboard gateway receives the following message (with escape characters for each double quotation no

[2021-10-29 17:16] Kernelalive opened #611 "[HELP] TB-Gateway doesnt push messages to Thingboard"
**Describe the issue**
Create description about your issue, and your actions to solve it.
In my machine there is a
1. TB-PE running port 1993
2. TB-Iot gateway running locally
3.  An Mqtt broker running in docker in port 1883

In the TB-Iot Gateway  i have declared the necessary info for connection to TB-PE (see the config below)
In the TB-IoT Gateway i have also the default mqtt.json for handling

[2021-10-29 22:07] knityanand commented on #606
Tried that as well..  No difference.. You are right.. I tried shutting down the device and then tried the same. Still no difference...

There seems to be no response to the WhoIs request...

[2021-10-30 15:44] AngeLinuX99 commented on #611
Fixed !! You can close the issue.

I have changed from thingsboard 3.2.2 to thingsboard 3.3.1 and it works perfectly.

[2021-10-30 15:45] AngeLinuX99 commented on #610
Fixed !!
I have changed from thingsboard 3.2.2 to thingsboard 3.3.1 and it works perfectly.

[2021-11-01 06:14] zbeacon commented on #611
Hi @Kernelalive ,

Thank you for interest in ThingsBoard IoT gateway, please set logging level in file logs.conf from INFO to DEBUG, run the gateway, send data with the command `mosquitto_pub -d -q 1 -h localhost -p "1883" -t "/sensor/data" -u "username" -P "password" -m '{"serialNumber":"Device A", "sensorType":"thermostat", "sensorModel":"Model A","temp":42,"hum":21}'`, stop the gateway and send

[2021-11-01 06:15] #610 closed

[2021-11-01 06:17] zbeacon commented on #606
Is it a real device, or simulation? Could you try to collect packages dump using wireshark?

[2021-11-01 06:19] #539 closed

[2021-11-01 06:31] knityanand commented on #606
This is a simulation using the bacserv from the bacnet protocol stack utilities... Will check using wireshark and also a real device and revert

[2021-11-01 06:48] zbeacon commented on #606
That's strange, I have tested the BACnet connector with the same environment in the different environment and it worked. Please let us know about the results of your testing.

[2021-11-01 09:14] redasdasd commented on #537
I have checked these documents last week. The file I found is as shown below:
raspberrypi4:/usr/lib/python3/dist-packages/thingsboard_gateway/connectors/modbus $ ls bytes_modbus_downlink_converter.py  bytes_modbus_uplink_converter.py  __init__.py  modbus_connector.py  modbus_converter.py  __pycache__

[2021-11-01 10:29] zbeacon commented on #537
Hi @redasdasd ,

The new version of the gateway is available, please update your instance and try again.

[2021-11-01 11:59] zbeacon commented on #611
Hi @Kernelalive ,

Please try to use the latest version (2.9 was released today) The issue can be in RemoteLogging feature (If it was set to DEBUG level - the gateway in release 2.8 was working wrong).

[2021-11-01 12:05] samson0v commented on #587
Hi @kxiopl, can you, please, provide more info about your problem and how to reproduce it. Because our investigation didn't find any problem with device connectivity (including tests with disconnected/connected/combine of to state device).

Thanks for your interest in ThingsBoard IoT Gateway.

[2021-11-01 14:59] Kernelalive commented on #611
Hello @zbeacon ,
i have redeployed the newest thingsboard-gateway. For some reason the logs are blank . The only  logs i have is the following. I get this from journactl command.

Do you have any idea why this happening?

Νοε 01 16:56:49 kernelalive-VirtualBox systemd[1]: Stopping ThingsBoard Gateway...
Νοε 01 16:56:49 kernelalive-VirtualBox systemd[1]: Stopped ThingsBoard Gateway.
Νοε 01 16:56:49

[2021-11-01 16:53] knityanand commented on #606
Hi @zbeacon,
    For the simulated device I see the below when I run YABE and the device is discovered

![image](https://user-images.githubusercontent.com/55359481/139708928-c7039e1d-332e-47db-a785-06a3a6161fe6.png)

   And I see a very similar bacnet data when I run tb-gateway as well but the device does not show up in the thingsboard server.

![image](https://user-images.githubusercontent.com/55

[2021-11-01 17:02] Kernelalive commented on #611
**Update**
I fix this problems with the logs . I think it was due to a discrepancy  with the previous install of tb-gw 2.7 .
Now i see the the messages sent by mqtt publisher . So i send `mosquitto_pub -d -q 1 -h localhost -p "1883" -t "/sensor/data" -u "username" -P "password" -m '{"serialNumber":"Device A", "sensorType":"thermostat", "sensorModel":"Model A","temp":42,"hum":21}'`
and i can see th

[2021-11-01 17:06] knityanand commented on #606
Who is packet info when data is sent from / to yabe

![image](https://user-images.githubusercontent.com/55359481/139710268-0b3e3c53-a5b3-4fd6-b6de-65038d4f8215.png)
![image](https://user-images.githubusercontent.com/55359481/139710330-98b52d8f-c61e-4595-affa-9c5cf45a770f.png)

Who is packet info when data is sent from / to tb-gateway
![image](https://user-images.githubusercontent.com/55359481/1397

[2021-11-02 00:10] AhmadMagdi commented on #609
Thanks @zbeacon

This worked for me.

Is there a specific reason it should be this way, perhaps some resource I should check out?

[2021-11-02 01:39] WeiTangLau commented on #609
This worked for me as well.

My guess would be as 0.0.0.0 is used to indicate all ipv4 addresses. As such, gateway will accepts and listens to all responses in the network.

However, adopting this method, I am still unable to read BACnet MSTP devices. Do you happened to have a BACnet MSTP device in your network?

[2021-11-02 01:42] WeiTangLau commented on #606
Hi,

try changing the "address" under the "general" section to 0.0.0.0
refers: https://github.com/thingsboard/thingsboard-gateway/issues/609

[2021-11-02 03:21] RenCisco opened #614 "modbus type 32float get data error"
**Describe the bug**
use modbus tcp get data from device.
configuration:{"tag":"a","type": "32float","functionCode": 4,"objectsCount":2,"address": 0},
{"tag":"b","type": "32float","functionCode": 4,"objectsCount":2,"address": 2}
but the return data  is 	2.4180806300389043E-41.
the correct data is 229.01.
![image](https://user-images.githubusercontent.com/21196303/139778984-f5e75c8e-e94a-4bfc-b673-

[2021-11-02 05:53] zbeacon commented on #614
Hi @RenCisco ,

Thank you for interest in ThingsBoard IoT gateway. byteOrder parameter gives ability for the gateway to understand how to read value from incoming data bytes. byteOrder has 2 possible values: BIG(Big endian ) and LITTLE(little endian). Usually byteOrder depends on Modbus server configuration. You can change the byteOrder and check the incoming data form the gateway. Also the gatewa

[2021-11-02 07:00] knityanand commented on #606
That's what I have currently.. no luck..

[2021-11-02 07:18] knityanand commented on #606
Also, I have tested with real devices using both tb_gateway and Yabe.. I get similar data as a result of whoIs in both. But in Yabe, I see the devices while in thingsboard, I see none..

Am attaching the wireshark data for both scenarios.. and also the bacnet.json. In the devices section, the address is the router address

Looks like the data is coming back from the network but the gateway is not

[2021-11-02 07:30] WeiTangLau commented on #606
Have you tried changing the objectId as follows?
![image](https://user-images.githubusercontent.com/42403590/139803882-475b2dc8-8e40-438c-a13e-74ede236ec3f.png)

refer: https://thingsboard.io/docs/iot-gateway/config/bacnet/

![image](https://user-images.githubusercontent.com/42403590/139803959-9ed1f39e-0638-4034-a48e-ac2fd893edfc.png)

[2021-11-02 07:40] knityanand commented on #606
Yes. previously, I did not have the below in the bacnet.json. Now have added that as well as mentioned below.. But still no luck..

      "attributeUpdates": [
        {
          "key": "brightness",
          "requestType": "writeProperty",
          "objectId": "analogOutput:1",
          "propertyId": "presentValue"
        }
      ],
      "serverSideRpc": [
        {
          "method": "set

[2021-11-02 08:16] yvo-pfenninger commented on #457
@samson0v Thank you for your help! I am testing it on the newest docker. I will keep you updated.

[2021-11-02 08:51] zbeacon commented on #611
You can see the data on your instance of ThingsBoard - device with name "Device A" should contain attributes and telemetry on the same named tabs just click on the device in device group and open attributes tab.

[2021-11-02 09:25] zbeacon commented on #609
Hi WeiTang Lau,

Unfortunately, I don't have a BACnet MSTP device, but the gateway can send
WhoIsRoute requests and get data from subnetworks, theoretically it is
possible to discover devices in subnetworks using the address for device
*:* (All devices on all networks). Also you can provide an address like:
15:75, where 15 - network number and 75 - number of station (device).

On Tue, Nov 2, 2021

[2021-11-02 09:33] zbeacon commented on #606
Hi @knityanand ,

It is possible to discover devices in networks using the address for device *:* (GlobalBroadcast). Also you can provide an address like: 15:75, where 15 - network number and 75 - number of station (device). Also please try to use 192.168.4.255/24 for device address, where /24 is a mask for sub network.

[2021-11-02 09:39] #607 closed

[2021-11-02 11:01] Kernelalive commented on #611
Hi @zbeacon ,
you are right !
thank you again for your support .
Just another question . Does TB listens to specific topics? So can i change/program the mapping that TB-GW does to the corresponding topics that TB listens to ?

[2021-11-02 18:42] knityanand commented on #606
Hi @zbeacon
   Tried with 192.168.4.255/24 as the address. Devices were not detected.

    Did not understand how to device : (GlobalBroadcast) and also 15:75. Both threw an error.

    Also, I was looking through the code and realized that I donot seen any logs for the below statement in code log.debug("Received IAm Response: %s", str(apdu)) while in wireshark, I see the IamResponse is recieved..

[2021-11-03 09:00] samson0v commented on #534
Hi @chyriso, please, update your Gateway to the newest version via the master branch or the latest release and let us know if it helps.

Thanks for your interest in ThingsBoard IoT Gateway.

[2021-11-03 09:35] RenCisco commented on #614
Hi @zbeacon
Thank you so much for your assistance. I can get the data,but i have two new problems.
issue 1. Data gaps occur,with on data lost every other row.
![~(}DJ5TXIS7_A%`6O`Y45NR](https://user-images.githubusercontent.com/21196303/140035581-9f1b6884-d71e-40dd-a203-6522755a5dd7.png)

issue2.The ThingsBoard page did not respond with a blank page when the Modbus configuration file was too many

[2021-11-03 09:52] ilseva opened #615 "[HELP] custom converters not found with docker image"
**Describe the bug**
I create custom converters for shelly devices and I copy them in `<tb-extensions-volume>`/mqtt.
I modify the mqtt.json file adding configuration for my topics
[code]
When I restart the container I see this logs

""2021-11-03 09:49:49" - |ERROR| - [mqtt_connector.py] - mqtt_connector - _on_connect - 269 - Cannot find converter for shellies/+/sensor/# topic"
""2021-11-03 09:49:4

[2021-11-03 10:24] knityanand commented on #606
Hi @zbeacon

I tried with a fresh gateway installation using https://thingsboard.io/docs/iot-gateway/install/source-installation/

It started working when I reverted the device address to the specific IP of the device..

  "deviceName": "BACnet Device ${objectName}",
      "deviceType": "default",
      "address": "**192.168.0.134:47808",**
      "pollPeriod": 100,
      "attributes": [

Thanks a

[2021-11-03 13:44] samson0v commented on #615
Hi @ilseva, it seems that your Gateway using a not right config file. When you are using Gateway with docker, config files located at /etc/thingsboard-gateway/config/ and /var/lib/thingsboard_gateway/extensions/ .
Please check these paths and make sure that there are the right config files.

Thanks for your interest in ThingsBoard IoT Gateway.

[2021-11-03 14:28] samson0v commented on #486
Hi @adriortega, please, update your Gateway to the newest version via the master branch and let us know if it helps.
Thanks for your interest in ThingsBoard IoT Gateway.

[2021-11-03 14:29] ilseva commented on #615
Hi @samson0v, thanks for your quick reply.
To use gateway with docker I followed this guide:
https://thingsboard.io/docs/iot-gateway/install/docker-installation/

I mount these 3 volumes:
- .tb-gateway/config:/thingsboard_gateway/config
- .tb-gateway/extensions:/thingsboard_gateway/extensions
- .tb-gateway/logs:/thingsboard_gateway/logs

The config files contained in my local folder are correctly

[2021-11-04 04:11] RenCisco opened #617 "modbus type 32float get data error - 2"
**Describe the bug**
Hi，@zbeacon
    Please read my reply
    link：(https://github.com/thingsboard/thingsboard-gateway/issues/614)
issue 1： how can i see the ThingsBoard-gateway version （in the  centos7）
         2. how do i know what version of python the iot-gateway runs in

Hi @zbeacon
Thank you so much for your assistance. I can get the data,but i have two new problems.
issue 1. Data gaps occu

[2021-11-04 05:19] roypan21 opened #618 "Modbus io connect to modbus slave"
I noticed that current gateway modbus io only support connect to a modbus server/master . My device is running as modbus client/slave. is there any feature in roadmap that support connect to modbus slave. which also mean make the gateway as modbus master/server to collect data .
 - Thingsboard IoT Gateway version [e.g. 2.2.4]

[2021-11-04 09:09] DejonckheereWard opened #619 "[BUG] Opcua connector (subscribe mode) crashes after reading in the list of variables"
**Describe the bug**
~~When using the opcua connector, since versions 2.8 & 2.9, the connector crashes after finishing reading all the variables from the list in opcua.json. When i turn "disableSubscriptions" to true, this doesn't happen.
When installing version 2.7 from scratch, this issue does not appear. But on an install that had 2.8 installed by default, then downgraded to 2.7, the issue also

[2021-11-04 09:24] AngeLinuX99 commented on #272
Same problem of huge use of cpu on my docker server. I have 4 thingsboard_gateway instances and CPU is ALWAYS at 100% with 2.8 version. Im going to test 2.9

[2021-11-04 09:32] AngeLinuX99 commented on #272
Same CPU problem in version 2.9

[2021-11-04 09:38] DejonckheereWard commented on #619
An other traceback that has a different traceback. This is after i uninstalled 2.9 and reinstalled 2.7, while i previously had it working on a fresh 2.7 install.
[code]

[2021-11-04 10:14] abalmos commented on #272
@zbeacon can we please re-open this issue? The expected behavior you described is not what we are experiencing. I see a near constant 100% CPU usage regardless of input data rate, in fact even when there is none.

[2021-11-04 12:15] DejonckheereWard commented on #619
After more inspection, i'm not sure wether the version of the gateway is the cause of this. I narrowed the bug down to having more than 512 keys in the opcua.json
The moment i have a single extra key, the program crashes. Sorry for confusing it up and thinking it was a bug with a new update.
Is there any way to solve this limit?
The reason I use the subscription is to have quicker updates, when th

[2021-11-04 21:13] andonoc opened #622 "Issue with json expression [BUG]"
**Describe the issue**
I encountered a issue, when i was running the 2.9-1 version.
On the Telemetry tab the keys and values are shown as the JSON expression from the mqtt.json file but they are processed to the right places.
<img width="745" alt="tb_jsonExpr" src="https://user-images.githubusercontent.com/32077318/140406352-89766dd2-095f-47d7-bacc-148dee2d53d7.PNG">

I reversed now to 2.8-1 and e

[2021-11-04 22:23] AngeLinuX99 commented on #622
Yes, same problem to me.

Some values are displayed correctly, but others are not.

![image](https://user-images.githubusercontent.com/20064467/140428662-611cf686-c861-489c-bbb7-c78c7228fabc.png)

[2021-11-05 08:56] #524 closed

[2021-11-05 09:08] samson0v commented on #524
Hi @adminlzq6, we decided to implement standard service RPC methods: get and set. These methods will be added to every OPC-UA node. So you can easily read and write data from the OPC-UA node.
Examples of use:
<img width="174" alt="зображення" src="https://user-images.githubusercontent.com/43861229/140485895-bb9aea28-4639-427d-848a-917124163eb1.png">
<img width="376" alt="зображення" src="https://u

[2021-11-05 10:48] #622 closed

[2021-11-05 11:00] #600 closed

[2021-11-05 11:00] zbeacon commented on #617
Duplicate of #614

[2021-11-05 11:00] #617 closed

[2021-11-05 11:01] samson0v commented on #615
@ilseva Can you, please, send the code of your custom converter to the email bidochkav@thingsboard.io for investigation.

[2021-11-05 11:10] ilseva commented on #615
Hi @samson0v, there is nothing secrete :-)
I copied the code below, maybe it could help someone else

mqtt.json config (inside mapping[])
[code]

ShellyMqttDwConverter Converter
[code]
Thanks for your help

[2021-11-05 11:14] #388 closed

[2021-11-05 11:15] #453 closed

[2021-11-05 13:15] #611 closed

[2021-11-07 22:27] #609 closed

[2021-11-09 08:11] samson0v commented on #615
Hi @ilseva,

Please, copy converters to the mount point at .tb-gateway/extensions and start your docker image

**For example:**
If I have the next mount points
<img width="484" alt="зображення" src="https://user-images.githubusercontent.com/43861229/140885732-2c47569b-3c72-4c2b-873e-4645ee8c47e0.png">

It means that my extensions files have to locate at /Users/_user_/.tb-gateway/...

If I have the

[2021-11-09 08:26] zbeacon commented on #606
Hi @knityanand ,

Thank you for your interest, please let us know if you discover some issue or an ability for improvement.

[2021-11-09 08:26] #606 closed

[2021-11-09 08:37] ilseva commented on #615
Hi @samson0v,

this is exactly what I did.

this is my actual configuration.
I have a folder with a docker-compose file and this folder structure

![Schermata del 2021-11-09 09-21-44](https://user-images.githubusercontent.com/65169097/140888183-ee8118f4-afe2-4af9-86e1-7b00eb6e55f6.png)

As I wrote in an other message of this thread, config files contained in .tb-gateway/config are correctly read b

[2021-11-09 10:11] samson0v commented on #514
Hi @nan0o, thanks for your proposal, we will discuss it and let you know.

Thanks for your interest in ThingsBoard IoT Gateway.

[2021-11-09 12:11] samson0v commented on #615
@ilseva can you, pls, send what the extensions folder contain?

[2021-11-09 13:41] ilseva commented on #615
Hi @samson0v,
this is the output of ls -laR of my host volume `.tb-gateway/extensions`

![image](https://user-images.githubusercontent.com/65169097/140934198-9e280cf6-500e-43c6-a8b0-5145c6ed3c9f.png)

![image](https://user-images.githubusercontent.com/65169097/140934373-0a63e225-86ee-40d9-bd3f-2a8347e35b2d.png)

[2021-11-09 14:13] samson0v commented on #619
Hi @DejonckheereWard, if you want to read all node data, you can try to use .* as a deviceNodePattern.
For example:
<img width="330" alt="зображення" src="https://user-images.githubusercontent.com/43861229/140939325-da2287c9-b843-4bda-9069-ea654ca07e11.png">
<img width="308" alt="зображення" src="https://user-images.githubusercontent.com/43861229/140939375-5350cf87-2f3d-45a2-adf6-9b6f29492ac7.png"

[2021-11-09 15:59] ilseva commented on #615
A clarification: I'm not recreating docker images from thingsboard-gateway source. I'm using the one deployed on docker hub.

[2021-11-10 01:07] RenCisco opened #624 "How many lines can be configured in a Modbus file"
**Describe the issue**

**Configuration** (Attach your configuration file)
**Notate: Remove Access token from file if you wanna attach tb_gateway.yaml**

**Connector name (If you need help with some connector/converter):**
[e.g. MQTT Connector]

**Error traceback (If it was raised):**
[code]

**Versions (please complete the following information):**
 - OS: [e.g. Ubuntu 18.04]
 - Thingsboard IoT Ga

[2021-11-10 01:08] #614 closed

[2021-11-10 01:27] RenCisco opened #625 "How many lines can be configured in a Modbus file?"
**Describe the issue**

issue :1, my modbus file have over 2888 lines, this time is not any   telemeasuring data in the thingsboard.
               so,How many lines can be configured in a Modbus file?
          2,How do I view the tb_gateway version information?
          3, What version of Python does tb_gateway use?

here is config file
[modbusConf (1).txt](https://github.com/thingsboard/things

[2021-11-10 01:28] #624 closed

[2021-11-10 08:38] samson0v commented on #625
Hi @RenCisco,

1. If you are using an asynchronous Modbus server you can divide your config file into several files.
     For example:
     <img width="322" alt="зображення" src="https://user-images.githubusercontent.com/43861229/141076175-51c17634-a32c-41b6-b03c-daac09990fad.png">

2. You can see it when Gateway starts in logs
3. Gateway uses the python version from 3.7

[2021-11-10 09:20] samson0v commented on #473
Hi @gzlz, it seems from your config file that you are using the same unitId for different devices
![photo_2021-11-10 11 18 41](https://user-images.githubusercontent.com/43861229/141085532-8f17e808-e612-430c-a636-52ff519dfa08.jpeg)

Thanks for your interest in ThingsBoard IoT Gateway!

[2021-11-10 11:42] samson0v commented on #615
Hi @ilseva, please, send your docker-compose file.
Thanks!

[2021-11-10 11:55] ilseva commented on #615
here it is
[code]

[2021-11-10 14:18] samson0v commented on #615
@ilseva please, add the next volume to your docker-compose file
`- .tb-gateway/extensions:/usr/local/lib/python3.7/site-packages/thingsboard_gateway-2.9-py3.7.egg/thingsboard_gateway/extensions`

And don't forget to recreate containers, so use the next for the first time starting:
`docker-compose down`
`docker-compose up --build -d`

The next thing is to make sure that the converter is copied to t

[2021-11-10 16:57] ilseva commented on #615
Thanks @samson0v !
With this workaround custom converters are loaded by the gateway.

I look at the code, but I'm not a python expert: why do you install the gateway as a module with setup during docker image creation?

Thanks for you precious support.

[2021-11-11 11:36] samson0v commented on #615
Hi @ilseva, we fixed this bug so in the next release you can use docker image without extra configurations.

[2021-11-11 11:36] #615 closed

[2021-11-11 22:03] Kernelalive opened #628 "[HELP]"
**Describe the issue**
Create description about your issue, and your actions to solve it.

**Configuration** (Attach your configuration file)
**Notate: Remove Access token from file if you wanna attach tb_gateway.yaml**

Component
Thingsboard-gateway , TB-PE

    Generic

Description
Hello!,
I have a TB-PE connected with a TB-Gw and through mqtt i receive messages like the following:
mosquitto_pub

[2021-11-12 03:17] RenCisco opened #629 "Does tb_Gateway support IEC104?"
issue:1.how many lines are supported by single Modbus configuration file ? Instead of configuring multiple Modbus files
         2.Does Gateway support IEC104?

**Versions (please complete the following information):**
 - OS: [e.g. centos7]
 - Thingsboard IoT Gateway version [e.g. 2.2.4]
 - Python version[e.g. 3.7]

[2021-11-12 03:31] #625 closed

[2021-11-12 05:35] zbeacon commented on #628
Hi @Kernelalive ,

Thank you for your interest in ThingsBoard IoT gateway.

"ts" or "timestamp" parameter should contain long value with milliseconds since 01.01.1970 e.g. 1636640012783 for `Thursday, November 11, 2021 2:13:32.783 PM`

The gateway and integrations contains almost the same functionality, but integrations can be used only by users of PE version and they are able to process more data

[2021-11-12 08:21] samson0v commented on #629
Hi @RenCisco,
1. What logs does Gateway output?
2. Gateway doesn't support the IEC 104 protocol.

[2021-11-12 08:27] zbeacon commented on #618
Hi @roypan21 ,

Thank you for your interest in ThingsBoard IoT gateway. We are going to implement logic like this, it is added to backlog and will be implemented.

[2021-11-12 10:06] Kernelalive commented on #628
@hi @zbeacon ,
and thank you for your answer.
So in continuation to this task and  in order to get the timestamp of the client  I have tried to override the timestamp by sending this type of message :
`mosquitto_pub` -d -q 1 -h localhost -p "1883" -t "/sensor/data" -u "username" -P "password" -m '{"serialNumber":"Device A", "sensorType":"thermostat", "sensorModel":"Model `A","temperature":4222,"hu

[2021-11-12 10:53] zbeacon commented on #628
It is a wrong message, the gateway cannot parse it. expected value is integer instead of string. The correct message is:
mosquitto_pub -d -q 1 -h localhost -p "1883" -t "/sensor/data" -u "username" -P "password" -m '{"serialNumber":"Device A", "sensorType":"thermostat", "sensorModel":"Model A","temperature":4222,"hum":12222323232323,"timestamp":1636717627507}'

[2021-11-12 10:54] zbeacon commented on #628
Also String "2021-11-12T11:47:07.507569+00:00" cannot be converted to long.

[2021-11-12 11:53] Kernelalive commented on #628
@zbeacon
ok and how can modify the timestamp to the format you propose(unix time)? Can this be done on the fly i.e on the mqtt.json of iot Gw or i need different approach?

[2021-11-12 15:24] konradSC opened #630 "[HELP] Not using 'on_attributes_update' from custom SNMP Connector"
**Describe the issue**
I am using a custom SNMP connector which is working fine when polling devices and sending telemetry to TB. The issue is when we update a shared attribute in TB. The tb-gateway tries to use the "on_attributes_update" method from the default snmp connector instead of our custom connector.

This is happening with the latest docker image.

**Configuration** (Attach your configur

[2021-11-15 02:47] RenCisco commented on #629
@samson0v

gateway logs are "2021-11-12 16:35:31" - ERROR - [modbus_connector.py] - modbus_connector - 185 - Connection lost! Reconnecting..."

issue:1.How do I obtain hexadecimal Modbus packets?

[2021-11-15 08:11] DejonckheereWard commented on #619
@samson0v
No keys have to be specified then, or will all keys have the name "Humidity" in ur example?
I will try this device node pattern this week, i'll update if it works or not (currently other issues i'm working on)

[2021-11-15 08:21] samson0v commented on #630
Hi @konradSC, are you sure that the custom connector is loaded?
Can you, please, send gateway logs on debug level (if you want to see debug logs you can set it in the config/logs.conf file)?

[2021-11-15 08:25] samson0v commented on #630
If you are using docker you can try to use this [solution](https://github.com/thingsboard/thingsboard-gateway/issues/615) for loading custom connector

This bug was fixed but gateway container not updated yet.

[2021-11-15 09:28] samson0v commented on #629
Hi @RenCisco, you can't send bytes to TB, we are using UTF-8 format, but you can parse the data in RuleChain.

[2021-11-15 10:10] gohm-tech opened #631 "[HELP] Add new RPC method"
Hi,
We have different RPC methods from the RPC methods found on the thingsboard-gateway. How can we add new RPC methods?
We followed the steps below to add a new method, but we were unsuccessful.

1. We stopped the service.
2. We have made changes to the attached file below.
[tb_gateway_service.txt](https://github.com/thingsboard/thingsboard-gateway/files/7537749/tb_gateway_service.txt)

3. We sta

[2021-11-15 11:34] gohm-tech opened #632 "[HELP] Redirect the gateway attribute update request to a different process."
Hi,
We have another process that works with C code. When an attribute of the gateway changes in the TB dashboard, we want to transfer this change to this C code.

1. How can we redirect attribute requests. Or How can we achieve this change in another process?
2. How can we undo this change if the gateway is not working at that time?
3. How can we convey to TBCore that we have accessed and changed

[2021-11-15 12:13] samson0v commented on #631
Hi @gohm-tech, yes, you can do it in that way. In the future, we will add a default tool for adding RPCs.
Please, send the gateway logs and errors that you took.
Thanks for your interest in ThingsBoard IoT Gateway.

[2021-11-15 12:20] samson0v commented on #632
Hi @gohm-tech, there is two way to solve your problem:
1. You can write your [custom connector](https://thingsboard.io/docs/iot-gateway/custom/)
2. You can use our [Python SDK](https://github.com/thingsboard/thingsboard-python-client-sdk)

Thanks for your interest in ThignsBoard IoT Gateway.

[2021-11-15 13:06] #584 closed

[2021-11-15 13:06] #424 closed

[2021-11-15 13:19] #426 closed

[2021-11-15 14:02] #433 closed

[2021-11-15 14:12] samson0v commented on #508
Hi @jonathanwvd and @jainabhishekindia , try to use OPC-UA node paths configuration following to this example:

<img width="616" alt="зображення" src="https://user-images.githubusercontent.com/43861229/141795960-0733abb3-c50a-4651-82ca-4ccaa22f43ea.png">
<img width="520" alt="зображення" src="https://user-images.githubusercontent.com/43861229/141795935-62602829-a8a8-4cad-a3db-cfeb1f491c4d.png">

T

[2021-11-15 14:33] samson0v commented on #508
@jonathanwvd if you want to use Gateway under the docker container, please follow this [instruction](https://github.com/thingsboard/thingsboard-gateway/issues/615).
This bug was fixed but the docker container has not been updated on the docker hub yet.

[2021-11-15 21:15] gohm-tech commented on #632
Hi, thanks for your quick reply,

I think we didn't explain our situation well.
If I create a custom connector, won't we only handle the parameter update request for the device? But I want to handle the incoming requests for the gateway.

Best Regards,
Gohm Team

[2021-11-16 08:13] samson0v commented on #632
Hi @gohm-tech, if you want to process parameter update request for the gateway you have to write your custom method in the tb_gateway_service file.

[2021-11-16 11:07] samson0v commented on #494
Hi @jasonlee9900, please, update your Gateway via the master branch and let us know if it helps.
Thanks for your interest in ThingsBoard IoT Gateway.

[2021-11-16 11:41] samson0v commented on #530
Hi @itsoli91, is your problem actual for today?

[2021-11-16 11:43] samson0v commented on #535
Hi @vac-pav and @WeiTangLau, we will add this functionality to the Gateway.

Thanks for your interest in ThingsBoard IoT Gateway.

[2021-11-17 03:12] roypan21 commented on #618
@zbeacon Thanks! let me know when it is ready. I would love to help with testing.

[2021-11-17 08:49] samson0v commented on #535
Hi @vac-pav and @WeiTangLau, after investigation, we discover that if you overwrite the priority value below, then it is not possible to increase it because it will not be written. This is a limitation of BACNet.

Sorry for the inconvenience.

[2021-11-17 09:09] vac-pav commented on #535
Hi @samson0v , thanks for reply. Do you mean that it is not possible at priority 8 or at all? You are probably right, that at priority 8 this is not possible as this is manual control, this was probably my fault. But what about if we use priority 9. Then it should be possible to write there null value to remove command at priority 9. Or am I wrong? Is this supported by current version or can you i

[2021-11-18 10:41] gohm-tech opened #634 "[BUG] Timeout fields added in server side rpc do not reach thingsboard-gateway"
Hi,
I need to get the timeout field when two-way RPC is received to thingsboard-gateway.

In the screenshot below, there is a two-way RPC request that I sent with the help of a swagger-ui.
![Screenshot from 2021-11-18 13-20-50](https://user-images.githubusercontent.com/91528436/142398887-078bae0b-443b-484b-9e86-eb29c398540f.png)

I have a screenshot of listening to the RPC request with HTTP Get.
!

[2021-11-18 10:46] gohm-tech commented on #631
Hi, @samson0v
Thanks for your helping.
Best Regards,
**Gohm Team**

[2021-11-18 10:46] #631 closed

[2021-11-18 11:00] zbeacon commented on #634
Hi @gohm-tech ,

Thank you for your interest in ThingsBoard IoT gateway.
Unfortunately, it is not possible to get this value from incoming request on the gateway, because timeout field and persistent flag are not send to devices from ThingsBoard. You can just put timeout as a parameter into params and use them on the devices side.

[2021-11-18 11:37] gohm-tech commented on #634
Hi @zbeacon
Thanks for your quick reply,

When I examined the code, I noticed the lines in the picture below.
![Screenshot from 2021-11-18 14-25-11](https://user-images.githubusercontent.com/91528436/142407227-3fffc532-74ae-4d37-aaa9-570767462d75.png)

Here, the "timeout" variable in the content variable is added to the arguments variable. This arguments variable contains the "params" field in the

[2021-11-18 11:39] zbeacon commented on #634
Hmm, let me check this point.

[2021-11-18 12:26] zbeacon commented on #634
Unfortunately there is no timeout field in RPC request message, this if was redundant.

[2021-11-18 12:59] gohm-tech commented on #634
Hi,

@zbeacon Thank you for your interest.

Best Regards,
**Gohm Team**

[2021-11-18 12:59] #634 closed

[2021-11-18 20:35] mpbr13 commented on #305
Hello, I've installed tb gateway a few days ago so I'm newbie in this and I'm struggling with mapping. I'm using version 3.3.2 and I've been following [this guide](https://thingsboard.io/docs/iot-gateway/config/mqtt/?mqttConnectorCredentialsConfig=anonymous&MqttConverterTypeConfig=json) so I have added an entry on array in mqtt.json file which is shown below.
![mapping tb gateway](https://user-ima

[2021-11-19 06:44] zbeacon commented on #305
Hi @mpbr13 ,

If you need a help - please create a new issue instead of writing to the closed one, because sometimes we cannot see notification about your message.

Whenever in your case you can use the following configurations:
1. Using deviceNameJsonExpression - it looks like you have a device name in your message, so you can just use default configuration and set `"deviceNameJsonExpression":"${

[2021-11-19 08:15] #537 closed

[2021-11-19 08:55] artturimW opened #635 "[BUG] OPC-UA connector ERROR. 'uacrypto' not defined when running docker image."
**Describe the bug**
Trying to connect to PLC with OPC-UA connector. Using docker-compose with thingsboard/tb-gateway:latest image.
Trying to connect using following config:

security: Basic256Sha256
type: cert.PEM
cert: aaa
publickey: bbb
mode: SignAndEncrypt

Same config is working when running tb_gateway without docker. I also managed to get tb_gateway working with docker when using only "anony

[2021-11-19 10:04] mpbr13 commented on #305
Thanks a lot @zbeacon!!

[2021-11-19 10:53] andrkass opened #636 "Thingsboard gateway startup delay"
I have configured thingsboard gateway with opcua connector listening to around 100 opcua endpoint ids. Even though in connector.log the messages appear that receiving a new data notification and its sending to thingsboard, the startup delay until the first messages appear at thingsboard is like 5...10 minutes

""2021-11-19 11:42:58" - DEBUG - [opcua_connector.py] - opcua_connector - 523 - Python:

[2021-11-19 11:04] mpbr13 commented on #420
Hi, I have the same problem. Does anyone know how to solve it? In my case, when I removed connected_devices.json I look that it doesn't work... I've changed name, type and even topic but it can't connect any new device.

[2021-11-22 11:07] rduivenvoorde commented on #628
@Kernelalive we also use the gateway, but sent both 'ts' AND some stringbased values in the messages, ready for the gateway to push into some attribute or variable. EG:
[code]
'ts' then is used by Thingsboard as part of telemetry value (you can even leave it off, then telemetry will be based on time of message), and the other string timestamps I use for showing in other parts of the dashboards.

[2021-11-22 11:40] Kernelalive commented on #628
Hi @rduivenvoorde ,
thank you for the reply
I want to override the time of the server with the time i get from clients .This is because i need to do the sorting in terms of time based on what time the  client sent .If is it possible to do such a thing without overriding the original ts that the server assigns this is also something i could do. The problem on my side is  that i cannot change this t

[2021-11-22 18:34] rduivenvoorde commented on #622
Ah, thanks for fixing, I'm also bitten by this one...

[2021-11-23 11:39] samson0v commented on #635
Hi @artturimW, it seems that docker can't find the .pem file, make sure that you bind your certificate to docker volume.
Thanks for your interest in ThingsBoad IoT Gateway.

[2021-11-23 11:53] samson0v commented on #636
Hi @andrkass, please, try to use `"disableSubscriptions": true` in the OPC-UA connector config file and let us know if it helps.
There is no ability to use timestamps from the OPC-UA nodes.

Thanks for your interest in ThingsBoard IoT Gateway.

[2021-11-23 13:27] samson0v commented on #457
Hi @yvo-pfenninger, did you test the Gateway?

[2021-11-23 13:28] samson0v commented on #486
Hi @adriortega, did it help, can we close the issue?

[2021-11-24 09:24] hangusto opened #637 "[HELP] No Data from OPC-UA connector with TB-gateway 2.9"
Hello everyone,

I tried to connect the tb-gateway to Thingsboard and OPC-UA server (Kepware) by opcua connector.

![image](https://user-images.githubusercontent.com/45854355/143206930-62877b80-d78c-4907-92e9-0e9a5e52e298.png)
![image](https://user-images.githubusercontent.com/45854355/143208745-289b882b-7975-413a-a71c-91f96f264f6e.png)

### But it cannot get the data from OPC-UA server to Thingsb

[2021-11-25 03:02] RenCisco opened #638 "The Gateway cannot push data to the ThingsBoard"
**Describe the bug**
****See thingsBoard reply** ：URL：(https://github.com/thingsboard/thingsboard/issues/5606)

**information description**
1. Tb-gateway obtains data from device 1 over Modbus protocol.  Device 1 has more than 3000 fields.
     The configuration file is as follows
                {
                          "server": {
                            "type": "tcp",

[2021-11-25 07:39] #629 closed

[2021-11-26 14:31] samson0v commented on #637
Hi @hangusto, alternative you can use the next:
[code]
I think you can find ns and i arguments in KEPServerEX 6 node info panel.

Thanks for your interest in ThingsBoard IoT Gateway.

[2021-11-26 14:41] samson0v commented on #638
Hi @RenCisco, we reworked the Modbus connector and in the coming days, we will update Gateway. So wait for a little and try to use the new Modbus connector.
I will let you know about the update!

Thanks for your interest in ThingsBoard IoT Gateway!

[2021-11-28 14:27] DejonckheereWard commented on #619
I did some testing, and i don't seem to be getting the behaviour i wanted using this. What i want is that the keys are automatically detected in the device.
Examples: "Humidity, Temperature"
Then take over the ending path as the keyname.
This is what i tried, but i'm not getting any data from this:
![image](https://user-images.githubusercontent.com/32327026/143772078-4bdbc3b9-f0eb-458c-a87a-4a503c

[2021-11-28 17:16] jayneev opened #639 "[BUG] ‘BrokenPipeError: [Errno 32] Broken pipe’"
**Describe the bug**
 ‘BrokenPipeError: [Errno 32] Broken pipe’
Steps:
1.	3 BLE end devices connected to TB gateway.
2.	notification data received for 3 min intervals.
3.	devices remains disconnected for 2 min.
4.	Steps#2 and Step#3 repeated again.
After 2-3 above iterations one of the devices error’d out during BLE notifications data read with ‘broken pipe’ error, just after stdin.flush

**Connec

[2021-11-29 11:45] #486 closed

[2021-11-29 11:45] #534 closed

[2021-11-29 11:52] samson0v commented on #575
Hi @santobedi, did it help, can we close the issue?

[2021-11-29 12:02] santobedi commented on #575
Hello @samson0v ,
I've not used Version 2.9 yet. I hope it will solve the issue. It's fine to close the issue. Thank you.

[2021-11-29 12:37] samson0v commented on #630
Hi @konradSC, did it help, can we close the issue?

[2021-11-29 12:38] samson0v commented on #508
Hi @jonathanwvd, did it help, can we close the issue?

[2021-11-29 12:39] samson0v commented on #494
Hi @jasonlee9900, did it help, can we close the issue?

[2021-11-29 12:46] #530 closed

[2021-11-29 12:50] samson0v commented on #635
Hi @artturimW, did it help, can we close the issue?

[2021-11-29 12:51] samson0v commented on #636
Hi @andrkass, did it help, can we close the issue?

[2021-11-29 12:53] #632 closed

[2021-11-29 16:32] andrkass commented on #636
Hi,
the initial startup latency of the first messages arriving at MQTT broker did not change. I am also confused a bit about
max_records_count
does that mean that gateway will not send data to thingsboard unless this amount of messages arrive from connectors? I can put 1 but it is still not sending.

Maybe a newer version would solve it? But I had problems with OPC-UA connector in the newer versio

[2021-11-29 19:52] konradSC commented on #630
Hi @samson0v. The custom connector loads without issue and works properly to poll the device. It seems to be using the wrong snmp connector on attribute updates.

[2021-11-30 01:03] jasonlee9900 commented on #494
sorry, I have stopped testing this program long ago after one year working on it, and I may never come back with this program. sorry.

[2021-11-30 01:15] jasonlee9900 commented on #494
Modbus Connector:

Added configuration parameters:

retries - Count of retries if polling was failed (default 3)

althougth I didn't test it, but I think your new update is wrong solution, modbus should never give up by 3 times polling try, it should always try for ever! Infinite times! But not that way your gateway did, spend so many resource on this polling try. the problem is not how many times

[2021-11-30 06:45] zbeacon commented on #636
Hi @andrkass ,

Could you provide your logs files for investigation purposes?
Also, this error, can relates to RemoteLogging feature (There was an issue) - you can try to disable it.
In order to get information what the OPC-UA connector does - you can set the value of "showMap" parameter to true and logging level in logs.conf file from INFO to DEBUG . After the gateway restart you will be able to

[2021-11-30 08:27] #630 closed

[2021-11-30 08:31] #494 closed

[2021-11-30 09:03] andrkass commented on #636
ok i did some tests. Just subscribing to one OPCUA node results in low startup latency of first message to thingsboard. Subscribing to 100 nodes results in first message arriving to thingsboard after 10 minutes. The reason seems to be that even if the first subscription is arriving at the gateway, it is only send to thingsboard once all subscriptions are processed. Is there a setting that once a s

[2021-11-30 13:13] artturimW commented on #635
Could not get it work, tried to conf pem files with many different ways. And checked that the .pem file actually exists in the container. Made my own image for gateway and now it is working.

[2021-12-01 02:03] AhmadMagdi opened #641 "Bacnet Connector to consistently read Bacnet properties [HELP]"
**Describe the issue**
I have The Thingsboard IoT Gateway up on a virtual machine, and I'm trying to get the BACnet connector to work. I have, on the same local network, another virtual machine running a BACnet device using [BACnet Stack](https://github.com/bacnet-stack/bacnet-stack), which can be used to simulate a Bacnet device.
I defined a device in the Bacnet connector configuration file, and

[2021-12-01 10:32] mircopz opened #642 "[BUG] Delete a device from thingsboard"
**Describe the bug**
My problem is when I delete a device from thingsboard (28630045-00-21-000-000000 in the attached traceback), but it is still present in connected_devices.json list (as it should be).
[code]
Then, when my device sends another publish with telemetry data, I see from logs that tb-gateway correctly receives the message, but it is not forwarded to thingsboard.
First question: it is

[2021-12-01 12:05] zbeacon commented on #642
Hi @mircopz ,

Please try to use the version form the master branch, it will process correctly saving persistent devices, but unfortunately, there is no way to notify the gateway about the device removal on ThingsBoard at the moment.

[2021-12-01 12:57] mircopz commented on #642
Thank you @zbeacon

Now I can't build from sources, I'm using the current docker image, so I'll wait a new release. Do you know if it will be released shortly?

[2021-12-01 13:40] samson0v commented on #638
Hi @RenCisco, we update Gateway Modbus Connector, so you can try and test it!

[2021-12-01 13:48] samson0v commented on #618
Hi @roypan21, we updated Gateway Modbus Connector so you can try and test it!
Pay attention, that there is a new config file for Modbus, to use it, you have to run Gateway with the old config file for Modbus and Gateway generate a new config file that will be named as "new_modbus.json" in the `config/` folder. And finally, in the `tb_gateway.yml` config file use the new Modbus config file.

[2021-12-02 09:14] RenCisco commented on #638
@samson0v
 Thanks for your help！
I tried to install the master branch,but got an error.
I installed it follow url (https://thingsboard.io/docs/iot-gateway/install/source-installation/)
So please tell me how to install step by step.
this is errors:
[xx@yy]#python3 ./thingsboard_gateway/tb_gateway.py
""2021-12-02 16:16:53" - |INFO| - [tb_gateway_service.py] - tb_gateway_service - __init__ - 72 - Gat

[2021-12-02 11:12] gohm-tech opened #643 "[HELP] thingsboard_gateway is continuously subscribe with a new id"
**Describe the issue**
Hi,
When the thingsboard_gateway service was running, We execute the mqtt_firmware_client.py. After that we are getting this log. So we are wondering this status will create any problem for us?
![Screenshot from 2021-12-02 14-08-51](https://user-images.githubusercontent.com/91528436/144411570-737daefa-125b-4682-8cb5-bf7d7e4fb270.png)

**Server Environment**
own setup
docker

[2021-12-02 12:22] zbeacon commented on #643
Hi @gohm-tech ,

Thank you for you interest in ThingsBoard IoT gateway.
This situation can appears when you used the same credentials for the both clients, ThingsBoard doesn't allow connection for two or more clients with the same credentials.
You can change the configuration of your ThingsBoard instance (parameter ACTORS_MAX_CONCURRENT_SESSION_PER_DEVICE)
Or use another device credentials for fir

[2021-12-02 12:49] samson0v commented on #638
Hi @RenCisco, follow the next steps:
1. Clone the master branch
2. Create virtual env using `python3 -m venv venv`
3. Activate virtual env `source venv/bin/activate`
4. Run `pip install setup.py`
5. Configure Gateway
6. Run Gateway

[2021-12-02 12:53] samson0v commented on #473
Hi @gzlz and @Pawol85, we remake the Modbus connector, so you can try and test it (using the version from the master branch)!
Pay attention, that there is a new config file for Modbus, to use it, you have to run Gateway with the old config file for Modbus and Gateway generate a new config file that will be named as "new_modbus.json" in the `config/` folder. And finally, in the `tb_gateway.yml` con

[2021-12-03 00:56] roypan21 commented on #618
@samson0v  I installed IoT Gateway using docker on windows by following the instruction. since the new feature is at master brach. could you provide instructions on how to remove the old version before I [install it from the source](https://thingsboard.io/docs/iot-gateway/install/source-installation/)?

[2021-12-03 02:26] RenCisco commented on #638
@samson0v
My OS  is centos7, why create a virtual enviroment?

this is my operation

[root@centos7 thingsboard-gateway]# python3 ./thingsboard_gateway/tb_gateway.py
[STREAM ONLY] 2021-12-03 09:53:18,355 - DEBUG - [tb_device_mqtt.py] - tb_device_mqtt - 125 - Disconnected client: <paho.mqtt.client.Client object at 0x7fa793af49e8>, user data: None, result code: 1

[2021-12-03 02:49] RenCisco commented on #638
@samson0v

[root@centos7 thingsboard-gateway]# pip install setup.py
ERROR: Could not find a version that satisfies the requirement setup.py (from versions: none)
ERROR: No matching distribution found for setup.py
WARNING: You are using pip version 21.0.1; however, version 21.3.1 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

[2021-12-03 02:50] RenCisco commented on #638
@samson0v

[root@centos7 thingsboard-gateway]# pip install setup.py
ERROR: Could not find a version that satisfies the requirement setup.py (from versions: none)
ERROR: No matching distribution found for setup.py
WARNING: You are using pip version 21.0.1; however, version 21.3.1 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

[2021-12-03 05:46] gohm-tech commented on #643
Hi @zbeacon,
Thank you for your quick reply, After your suggestion, we found this question about this subject
[https://github.com/thingsboard/thingsboard/issues/1210](url)
We indicate the location of the file to help other users.
`thingsboard/application/src/main/resources`

Best Regards,
**Gohm Team**

[2021-12-03 05:46] #643 closed

[2021-12-03 07:16] zbeacon commented on #638
Hi @RenCisco ,

Could you try the following command:
`python3 setup.py install`

[2021-12-03 08:02] samson0v commented on #618
Hi @roypan21 , follow the next steps:

1. Clone the master branch
2. Create virtual env using `python3 -m venv venv`
3. Activate virtual env `source venv/bin/activate`
4. Run `pip setup.py install `
5. Configure Gateway
6. Run Gateway

[2021-12-03 08:10] olafpeters1962 opened #644 "Gateway gets into endless loop trying to send telemetry data to ThingsBoard server"
I have an issue with ThingsBoard gateway version 2.9

I send telemetry data via the mqtt connector with the ${serialNumber} (i.e. the device name) set to the device name of the gateway itself:

mosquitto_pub -d -t "/sensor/data" -m '{"serialNumber": "my-test-gw", "sensorType": "EMS-edge-gw", "sensorModel": "Dell laptop", "temp":22.0, "hum":44.0}'

The telemetry data is sent only once to the Things

[2021-12-03 09:18] santobedi commented on #306
Hello @zbeacon ,

My scenario is similar to @qwyinxiang 's case except I'm using LoRaWAN (Chirpstack server) to give commands to the Modbus relay device (TB gateway is not involved, plz excuse me if I'm commenting on the wrong thread).  I'm using Switch Control (Control widgets) to send commands via external `rest API call `. I want to do it using the `integration downlink` (I've not able to do it

[2021-12-03 11:47] samson0v commented on #644
Hi @olafpeters1962, can you, pls, send your configuration file?

Thanks for your interest in ThingsBoard IoT Gateway!

[2021-12-03 11:55] RenCisco commented on #638
@zbeacon thanks for your help
I executed command (python3 setup.py install)
but how can i run thingsboard-gateway?

[2021-12-03 11:58] RenCisco commented on #638
[root@centos7 thingsboard-gateway]# `systemctl start thingsboard-gateway`
Failed to start thingsboard-gateway.service: Unit not found.

[2021-12-03 14:00] #575 closed

[2021-12-05 08:50] olafpeters1962 commented on #644
Hi @samson0v, here are my tb_config.yaml and mqtt.json config files.
[config-files.zip](https://github.com/thingsboard/thingsboard-gateway/files/7655517/config-files.zip)

[2021-12-05 20:25] raomin opened #645 "[HELP] iot-gateway does not receive MQTT message"
**Describe the issue**

I configured the iot-gateway to receive and publish messages from the TTN MQTT broker.
While the connection is OK, the messages arriving on the MQTT broker (and confirmed with `mosquitto_sub` on the same topic) don't seem to be processed by the gateway and do not reach thingsboard.

**Configuration** (mqtt.json)

[code]

**No errors in logs:**
[code]
In the meantime:
[code]

[2021-12-06 03:01] RenCisco commented on #638
@zbeacon
@samson0v
Thanks for your help!

this is error
[root@centos7 thingsboard-gateway]# python3 ./thingsboard_gateway/tb_gateway.py
[STREAM ONLY] 2021-12-06 10:56:59,249 - DEBUG - [tb_device_mqtt.py] - tb_device_mqtt - 125 - Disconnected client: <paho.mqtt.client.Client object at 0x7fcdf8283f60>, user data: None, result code: 1

[2021-12-06 05:53] RenCisco commented on #638
@samson0v @zbeacon
Hi thanks for your help!
After I grab packets using tcpdump, I find that the Gateway pushes MQTT data to ThingsBoard every 10 minutes.  How can I optimize?

[2021-12-06 07:07] zbeacon commented on #645
Hi @raomin,

Please stop the gateway, set logging level from INFO to DEBUG in logs.conf file and run the gateway again. Then please send logs.

[2021-12-06 09:33] samson0v commented on #638
Hi @RenCisco, after installing Gateway from the source, you can start it using `python3 thingsboard_gateway/tb_gateway.py`. And don't forget to configure the Gateway and connector which you will use.

[2021-12-06 09:58] RenCisco commented on #638
@samson0v
Thanks for your help !
I've started thingsboard-gateway, but sending MQTT data to Thingsboard is too slow, every 10 minutes.
 So how do I solve this problem?
How do I get performance up to pushing data to thingsBoard every few seconds
this is my configuration
tb_gateway.yaml
thingsboard:
  host: ip
  port: 9909
  remoteShell: false
  remoteConfiguration: false
  security:
    accessToken

[2021-12-06 21:54] raomin commented on #645
Hi @zbeacon, thanks for your feedback.
I've put everything in DEBUG and here is what I saw:
[code]
Thing is, tb-gateway is running as docker image, and so is tbio.
And my tb-gateway.conf what pointing to:
[code]
... which would not lead to thingsboard but the localhost of the docker namespace...
I changed it to the public IP of the host, and voilà!
[code]

Thanks for this @zbeacon.

[2021-12-06 21:54] #645 closed

[2021-12-07 08:25] mircopz opened #647 "[BUG] Error in multiple telemetry processing"
**Describe the bug**
My device sent the following array of telemetry

[code]

It is processed by my custom function, and the final message (before validation) has always the following format:

[code]

As you can see from logs, the first three elements are correctly processed, while the fourth cannot be validated, even if it has the same format but function `validate_converted_data` received an emp

[2021-12-07 08:34] #508 closed

[2021-12-07 08:35] samson0v commented on #638
Hi @RenCisco, you are using `"sendDataOnlyOnChange": true`, maybe the data doesn't change?

[2021-12-07 08:48] samson0v commented on #647
Hi @mircopz, pls, send your config file and if you are using a custom converter, send it too. Also, I see that there are 4 messages which successful converted and 5 is unsuccessful. Are you sure that you send the correct data to the Gateway?
<img width="613" alt="зображення" src="https://user-images.githubusercontent.com/43861229/144996368-3167bb47-59d2-428a-b734-ecd10093725d.png">

Thanks for you

[2021-12-07 08:58] samson0v commented on #635
Hi @artturimW, what did you change to get it to work?

[2021-12-07 09:04] mircopz commented on #647
Hi @samson0v

Data sent to the gateway is the first 4-elements array reported in my first message. I think the unsuccessful data validation is related to my 4 message, the log is right after data conversion.
For further information, on thingsboard I received only 2 and 3 message, missing the 1 and 4.

This is my MQTT config file:

[code]

and that is MyMqttUplinkConverter function

[code]

[2021-12-07 11:55] samson0v commented on #647
@mircopz We tested your converter and not be able to reproduce your problem

[2021-12-07 13:38] #647 closed

[2021-12-08 03:34] RenCisco commented on #638
@samson0v Thanks for your help!

i have used `"sendDataOnlyOnChange": false` ,But problems remain.  The ThingsBoard still updates its data every 10 minutes.

[2021-12-09 06:59] samson0v commented on #639
Hi @jayneev, we are remaking the BLE connector now. We will let you know when it is done.

Thanks for your interest in ThignsBoard IoT Gateway!

[2021-12-09 07:01] samson0v commented on #370
Hi @krishna194, we are remaking the BLE connector now. We will let you know when it is done.

Thanks for your interest in ThignsBoard IoT Gateway!

[2021-12-09 07:01] samson0v commented on #372
Hi @Extulen and @antaresf, we are remaking the BLE connector now. We will let you know when it is done.

Thanks for your interest in ThignsBoard IoT Gateway!

[2021-12-09 10:47] ndrs-cwt commented on #639
@samson0v I have this Broken pipe issue too and after this exception happens, gateway can't reconnect to device that has this exception anymore. The only way to connect to that device again is restart gateway process.

Do you have any recommended workaround for this issue while waiting for the new BLE connector?

[2021-12-09 11:04] samson0v commented on #639
@ndrs-cwt, we fixed the problem, you can update your Gateway from the master branch and try to test it. But we are afraid that it does not help because of a very big waiting time for notification.

[2021-12-09 12:55] KarimSamehSadek commented on #316
Same issue persists for me even after manual installation of python3-paho-mqtt

[2021-12-10 08:10] samson0v commented on #638
Hi @RenCisco, do you see data streams using Wireshark when Gateway send data to ThingsBoard?
How many devices do you use?
Probably you can try to use `"minPackSendDelayMS": <for example 200>` in main tb_gataway.yaml config file as on the picture below.
<img width="366" alt="зображення" src="https://user-images.githubusercontent.com/43861229/145539745-c5749167-89e8-43ce-9b64-134337ffef94.png">

[2021-12-10 09:03] klonhj2015 opened #649 "[BUG] Use rest connector error"
**Describe the bug**
I use the master version to build a version. And I use the rest connector, but when I run the gateway, it encounted an error.

**Connector name (If bug in the some connector):**
[ REST Connector]

**Error traceback (If available):**
Traceback (most recent call last):
  File "/Users/hongquanzhu/Documents/Github/thingsboard-gateway/dev-tb-gw/lib/python3.7/site-packages/thingsboa

[2021-12-10 09:06] klonhj2015 commented on #649
If I checkout version 2.7, the rest server is running with flask, that seems ok. The version of master seems to use aiohttp, error.

[2021-12-10 09:20] samson0v commented on #649
Hi @klonhj2015, send, please, your REST config file.

Thanks for your interest in ThingsBoard IoT Gateway.

[2021-12-10 09:22] klonhj2015 commented on #649
This is my config file.
{
  "host": "0.0.0.0",
  "port": "35000",
  "SSL": false,
  "mapping":[
    {
      "endpoint": "/aiAlarm",
      "HTTPMethods": [
        "POST"
      ],
      "security": {
        "type": "anonymous"
      },
      "converter": {
        "type": "json",
        "deviceNameExpression": "${name}",
        "deviceTypeExpression": "default",
        "timeseries": [

[2021-12-10 09:24] samson0v commented on #649
@klonhj2015 are you running Gateway under Docker container?

[2021-12-10 09:27] klonhj2015 commented on #649
No, I run gateway  in a python virtual env

[2021-12-10 09:32] samson0v commented on #649
@klonhj2015 Send, pls, your tb_gateway.yaml config file

[2021-12-10 09:43] klonhj2015 commented on #649
thingsboard:
  host: 127.0.0.1
  port: 11883
  remoteShell: false
  remoteConfiguration: false
  statsSendPeriodInSeconds: 3600
  checkConnectorsConfigurationInSeconds: 60
  security:
    accessToken: test
  qos: 1
storage:
  type: memory
  read_records_count: 100
  max_records_count: 100000
#  type: file
#  data_folder_path: ./data/
#  max_file_count: 10
#  max_read_records_count: 10
#  max_recor

[2021-12-10 09:44] klonhj2015 commented on #649
`thingsboard:
  host: 127.0.0.1
  port: 11883
  remoteShell: false
  remoteConfiguration: false
  statsSendPeriodInSeconds: 3600
  checkConnectorsConfigurationInSeconds: 60
  security:
    accessToken: test
  qos: 1
storage:
  type: memory
  read_records_count: 100
  max_records_count: 100000
#  type: file
#  data_folder_path: ./data/
#  max_file_count: 10
#  max_read_records_count: 10
#  max_reco

[2021-12-10 09:45] klonhj2015 commented on #649
thingsboard:
  host: 127.0.0.1
  port: 11883
  remoteShell: false
  remoteConfiguration: false
  statsSendPeriodInSeconds: 3600
  checkConnectorsConfigurationInSeconds: 60
  security:
    accessToken: test
  qos: 1
storage:
  type: memory
  read_records_count: 100
  max_records_count: 100000

connectors:
   - name: HTTP RestAPI Connector
     type: rest
     configuration: rest.json

[2021-12-10 09:46] samson0v commented on #649
@klonhj2015 can you run the Gateway on python 3.9 and let us know if it helps?

[2021-12-11 02:33] klonhj2015 commented on #649
It works! I change the python version to 3.0. It seems all done. Thanks.

[2021-12-11 02:35] klonhj2015 opened #650 "Rest connector with different http headers"
**Describe the bug**
When we use rest connector, the http request only supports the header of application/json. Because the connector converts request to json first, then it will return code 415.

**Connector name (If bug in the some connector):**
[REST Connector]

**Versions (please complete the following information):**
 - OS: [macos]
 - Thingsboard IoT Gateway version [master]
 - Python version

[2021-12-11 02:45] klonhj2015 commented on #649
Sorry, the first time starting seems ok, but after i restart the gw, the same error.

[2021-12-11 16:00] Congregator commented on #649
Experiencing the same issue with the REST connector on both native and docker installations of the current release version 2.9. Using Python 3.9. I think the issue might be a change in an external dependency (aiohttp) as new installations of older gateway versions (2.8 and 2.7) show the same issue.

[2021-12-11 17:03] Congregator commented on #649
I finally figured out the issue - it appears it is related to external dependencies.
The latest pip and pip3 repos have the packages aiohttp and async_timeout at different versions than what the Gateway needs to operate.

At the latest versions, the following packages are installed:
aiohttp - version 3.8.1
async_timeout - version 4.0.1

However, the gateway requires the following versions to opera

[2021-12-13 13:07] ndrs-cwt commented on #639
@samson0v, Thank you for the new BLE connector, but it doesn't fix my Broken pipe problem but maybe it works for OP case.

I just found some workaround for my problem by record the name of the Broken pipe device in some list
[code]

and delete all of its Peripheral relate objects and let's connector create all related objects again
[code]
this is from my [custom BLE connector](https://github.com/n

[2021-12-13 14:12] samson0v commented on #650
Hi @klonhj2015, REST connector works only with JSON data. If you want to use Gateway with other data formats you can write your [custom converter](https://thingsboard.io/docs/iot-gateway/custom/).

[2021-12-13 20:37] ardilom2 opened #651 "[HELP] K8s gateway with 2 replicas"
Hello,
I created an image of thingsboard-gateway (based on v2.6) and it works fine, but now I tried to run it with a replica and it keeps failing and restarting and I don't understand why. What am I doing wrong?

**Configuration**
[code]

**Error traceback (If it was raised):**
![image](https://user-images.githubusercontent.com/82225828/145884277-25a4525a-3574-4b4b-ad17-d7dd11353efe.png)

**Versio

[2021-12-14 07:37] zbeacon commented on #651
Hi @ardilom2,

This behavior related to device authorization on ThingsBoard. By default only one device can be connected with one accessToken. If ThingsBoard detects more than one device for accessToken it dissconnects old session. There are 2 possible solutions for this behavior:
1. Use different accessTokens for gateways.
2. Increase the value for env variable ACTORS_MAX_CONCURRENT_SESSION_PER_D

[2021-12-15 18:48] ardilom2 commented on #651
thx! setting this env variable ACTORS_MAX_CONCURRENT_SESSION_PER_DEVICE=2 worked perfectly!

[2021-12-15 18:48] #651 closed

[2021-12-16 07:09] jitendraspatil opened #652 "[HELP]"
16 06:47:06" - |DEBUG| - [tb_client.py] - tb_client - _on_connect - 82 - TB client <paho.mqtt.client.Client object at 0x7fb1e8bd4350> connected to ThingsBoard"

""2021-12-16 06:47:06" - |INFO| - [tb_device_mqtt.py] - tb_device_mqtt - _on_connect - 138 - connection SUCCESS"

""2021-12-16 06:47:06" - |DEBUG| - [tb_gateway_mqtt.py] - tb_gateway_mqtt - _on_subscribe - 67 - Service subscription to topi

[2021-12-16 07:13] zbeacon commented on #652
Hi @jitendraspatil ,

It looks like you have an extra comma symbol after the last configuration object in section attributes. Please remove it and try to restart the gateway.
Thank you for your interest in ThingsBoard IoT Gateway.

[2021-12-16 08:56] jitendraspatil commented on #652
Hi @zbeacon
i am not able to push the data in Device

[2021-12-16 08:56] jitendraspatil commented on #652
""2021-12-16 08:52:07" - |INFO| - [tb_gateway_service.py] - tb_gateway_service - __init__ - 76 - Gateway starting..."

""2021-12-16 08:52:07" - |DEBUG| - [tb_updater.py] - tb_updater - check_for_new_version - 69 - Checking for new version"

""2021-12-16 08:52:07" - |INFO| - [tb_gateway_service.py] - tb_gateway_service - __init__ - 81 - ThingsBoard IoT gateway version: 2.9"

""2021-12-16 08:52:07"

[2021-12-16 08:56] jitendraspatil commented on #652
""2021-12-16 08:52:09" - |DEBUG| - [tb_gateway_service.py] - tb_gateway_service - _attributes_parse - 263 - Received data: {}"

[2021-12-16 09:01] jitendraspatil commented on #652
![th](https://user-images.githubusercontent.com/96176501/146340348-eb5f8e70-197a-4a12-8abc-fb5f5db36fa1.PNG)
![th](https://user-images.githubusercontent.com/96176501/146340602-eae16a28-849c-41c4-87f2-508a4939f017.PNG)

[2021-12-16 09:08] jitendraspatil commented on #652
{
  "general": {
    "objectName": "TB-gateway",
    "address": "127.0.0.1:4581",
    "objectIdentifier": 4581,
    "maxApduLengthAccepted": 1024,
    "segmentationSupported": "segmentedBoth",
    "vendorIdentifier": 37
  },
  "devices": [
    {
      "deviceName": "BACNet Device ${objectName}",
      "deviceType": "default",
      "address": "192.168.1.24:4581",
      "pollPeriod": 10,
      "att

[2021-12-16 09:13] zbeacon commented on #652
You can try to use 0.0.0.0:4581 for address in general section.

[2021-12-16 09:14] jitendraspatil commented on #652
{
  "general": {
    "objectName": "TB-gateway",
    "address": "0.0.0.0:4581",
    "objectIdentifier": 4581,
    "maxApduLengthAccepted": 1024,
    "segmentationSupported": "segmentedBoth",
    "vendorIdentifier": 37
  },
  "devices": [
    {
      "deviceName": "BACNet Device ${objectName}",
      "deviceType": "default",
      "address": "192.168.1.24:4581",
      "pollPeriod": 10,
      "attri

[2021-12-16 09:15] jitendraspatil commented on #652
""2021-12-16 09:18:14" - |INFO| - [tb_gateway_service.py] - tb_gateway_service - __init__ - 76 - Gateway starting..."

""2021-12-16 09:18:14" - |DEBUG| - [tb_updater.py] - tb_updater - check_for_new_version - 69 - Checking for new version"

""2021-12-16 09:18:14" - |INFO| - [tb_gateway_service.py] - tb_gateway_service - __init__ - 81 - ThingsBoard IoT gateway version: 2.9"

""2021-12-16 09:18:14"

[2021-12-16 09:15] jitendraspatil commented on #652
No Data Received

[2021-12-16 09:17] jitendraspatil commented on #652
![11](https://user-images.githubusercontent.com/96176501/146343028-5f6df643-ac94-403d-801d-441c77905b60.PNG)

[2021-12-16 09:18] zbeacon commented on #652
It looks like there is no response to WhoIs request to device.

[2021-12-16 12:53] samson0v commented on #649
Hi @Congregator, thanks for your reply, we are working on fixing this bug.

[2021-12-17 07:02] samson0v commented on #639
Hi @ndrs-cwt, we did a remake of the BLE Connector yesterday, so you can install the new version of Gateway from the master branch and test the connector.
Let us know if the new version of BLE Connector fixes your problem.

[2021-12-17 07:03] samson0v commented on #370
Hi @krishna194, we did a remake of the BLE Connector yesterday, so you can install the new version of Gateway from the master branch and test the connector.
Let us know if the new version of BLE Connector fixes your problem.

[2021-12-17 07:04] samson0v commented on #372
Hi @Extulen and @antaresf, we did a remake of the BLE Connector yesterday, so you can install the new version of Gateway from the master branch and test the connector.
Let us know if the new version of BLE Connector fixes your problem.

[2021-12-17 07:05] samson0v commented on #473
Hi @gzlz and @Pawol85, did you try the new version of Modbus Connector, can we close the issue?

[2021-12-17 07:07] samson0v commented on #618
Hi @roypan21, did you test the new version of the Modbus Connector, can we close the issue?

[2021-12-17 07:13] #587 closed

[2021-12-17 07:20] roypan21 commented on #618
Hi,
   I was waiting for my Modbus device come back from field for testing. Have not tested yet . You can resolve it and I will re open a ticket if I see any issue as soon as I start test with my modbus device(expect start in 3 weeks after holiday)
Thanks!

[2021-12-17 07:24] #618 closed

[2021-12-17 09:17] jitendraspatil commented on #652
""2021-12-17 09:16:51" - |INFO| - [tb_gateway_service.py] - tb_gateway_service - __init__ - 76 - Gateway starting..."

""2021-12-17 09:16:51" - |DEBUG| - [tb_updater.py] - tb_updater - check_for_new_version - 69 - Checking for new version"

""2021-12-17 09:16:51" - |INFO| - [tb_gateway_service.py] - tb_gateway_service - __init__ - 81 - ThingsBoard IoT gateway version: 2.9"

""2021-12-17 09:16:51"

[2021-12-17 09:19] jitendraspatil commented on #652
![tb 1](https://user-images.githubusercontent.com/96176501/146520475-14adc75e-5d66-4040-8a5e-9a31bcb7065f.PNG)

[2021-12-17 09:20] jitendraspatil commented on #652
data not Resived

[2021-12-17 09:21] jitendraspatil commented on #652
BACnet.json

{
  "general": {
    "objectName": "MRI_Area_DDC",
    "address": "0.0.0.0:4581",
    "objectIdentifier": 4581,
    "maxApduLengthAccepted": 1458,
    "segmentationSupported": "None:3",
    "vendorIdentifier": 37
  },
  "devices": [
    {
      "deviceName": "BACNet Device ${objectName}",
      "deviceType": "default",
      "address": "192.168.1.24:4581",
      "pollPeriod": 10000,

[2021-12-17 10:42] jitendraspatil commented on #652
help me plzzz ?

[2021-12-17 10:44] zbeacon commented on #652
Please collect packages from the gateway to the device using Wireshark or tcpdump and send the dump to us, or check - is there IAm response from device present?

[2021-12-18 01:20] ndrs-cwt opened #655 "[HELP] Can't read data with new BLE connector"
**Describe the issue**
After update gateway code from master branch, Gateway does not send any data from BLE device to thingsboard but still sending other data like ```bleconnectorEventsProduced``` to server and I can't find any error in log.

connector.log
[code]

service.log
[code]

BTW I can read data from BLE device with this code on the same gateway and nRF Connect app still get notify data f

[2021-12-18 05:19] samson0v commented on #655
Hi @ndrs-cwt, if you want to read data every 60 sec, you have to use "method": "read", because when you set "method": "notify", BLE Connector subscribe for device and listen to any update of data, so the device can update data in 70 sec or 50 sec and exactly in this way we will get the data.
Additionally, you can set the `DEBUG` level of logs in the `config/logs.conf.`

Thanks for your interest in

[2021-12-18 14:49] jayneev commented on #655
Hi @ndrs-cwt , @samson0v  and @zbeacon , I am also still trying to find right way to get 'update data notifications from BLE peripheral devices, with latest new BLE connector remake. Below are few observations and queries which will definitely help me to get notify data on gateway.

1) OBSERVATION: Below parameters in ble.json now removed from latest one. Are they replaced with new parameter ?

[2021-12-18 16:09] jayneev commented on #639
Thank you @samson0v and @zbeacon for sharing the ble connector remake, We are trying to find right way to get 'data notification updates from BLE peripheral devices, with latest checked out code. Below are few observations and queries , if provided feedback, will definitely help us to get notify data on gateway.

OBSERVATION: Below parameters in ble.json now removed from latest one. Are they repla

[2021-12-20 13:35] samson0v commented on #655
Hi @jayneev,
1. This `"rescanIntervalSeconds": 18000, "checkIntervalSeconds": 45, "scanTimeSeconds": 35,` deleted and aren't using.
   The scanner device name is used for searching the mac address of the device if you don't know it.
   A poll period is used for polling device data if it has `"method": "read"`.
2. `deviceName` is the name of your device, for example, if you are getting data from a

[2021-12-21 06:17] jayneev commented on #655
Hi @samson0v,
Thank you for the reply. Regarding below 'deviceName' explanation , there seems confusion in the ble.json configuration file.
================Answer from @samson0v ============================
deviceName is the name of your device, for example, if you are getting data from a Temperature sensor, you can specify "deviceName": "Temperature sensor" or "deviceName": "My sensor 1". deviceN

[2021-12-21 06:36] nznobody opened #657 "Gateway configuration documentation does not match reality"
Just an FYI that your documentation does not match reality for the tb-gateway configuration. Fix would be great since I just wasted two hours on wondering why it was not working :(

Your main configuration documentation: https://thingsboard.io/docs/iot-gateway/configuration/ specifies that the folder is `/etc/thingsboard-gateway/config`. However in other places and in the container it is `/thingsb

[2021-12-21 07:11] jayneev commented on #655
Hi @samson0v ,
In continuation with my above discussion thread please see below Exception error reported whenever TB gateway runs with CMx9 device connected.
Sensor Device name ====>    "name": "CMx9",  (Please refer to ble.json config below)
"deviceName" inside scanner =====>    "scanner": {
                                                                      "timeout": 10000,

[2021-12-21 11:02] gohm-tech opened #658 "[BUG] After a while, the packet We send from the mqtt connector does not reach the thingsboard server."
The thingsboard-gateway service stops sending data to the server after running for a certain period of time. When I restart the thingsboard-gateway service, it starts sending again.

That is the server code. The part marked in yellow is our gateway's acces token. We could not see any logs containing the acces token of our gateway when it did not send the data to the server. After restarting the th

[2021-12-21 12:12] samson0v commented on #657
Hi @nznobody, thanks for your interest in ThingsBoard IoT Gateway! We rewrote and updated our documentation and the last thing that must be done is to publish a new release version of Gateway.
You can see the working version of the documentation in this [PR](https://github.com/thingsboard/thingsboard.github.io/pull/767)  and offer some ideas and remarks.
Thanks!

[2021-12-21 12:16] samson0v commented on #658
Hi @gohm-tech, please, set DEBUG level in the `config/logs.conf` file and provide more info.
Thanks for your interest in ThingsBoard IoT Gateway!

[2021-12-21 12:24] samson0v commented on #655
Hi @jayneev,
1. `"deviceName": "Device name" <=== Is this gateway name?` - NO, it is the name of your device to find his mac address, if you don't know the mac address
2. The exception is about the characteristic that can't be found. It means that your device hasn't this characteristic.
From this screen below
<img width="810" alt="зображення" src="https://user-images.githubusercontent.com/43861229

[2021-12-21 12:30] gohm-tech commented on #658
Hi @samson0v,
We already set DEBUG level the all of the log levels. We did not see any error in the log files. Everythings look good.Best Regards,
**Gohm Team**

[2021-12-21 12:36] samson0v commented on #658
@gohm-tech, after about how long do Gateway stop sending data?

[2021-12-21 12:44] janvl1234 opened #659 "ThingsBoard Gateway cannot store/update JSON values"
The ThingsBoard gateway cannot store or update JSON values.

Seems to effect all connectors, I want to use it for the REST-Connector.

In the database there is a field json_v. The JSON data can be created and updated via the GUI/Thingsboard.
There seems to be no possibility to update the JSON field data via de ThignsBoard gateway.

Can you add the type json like there is a string, double, boolean?

[2021-12-21 12:59] samson0v commented on #659
Hi @janvl1234, thanks for your interest in ThingsBoard IoT Gateway, we will discuss your offer and let you know in the coming days.

[2021-12-21 14:32] jayneev commented on #655
Dear @samson0v,
Please find answer embedded [Answer].

1. "deviceName": "Device name" <=== Is this gateway name? - NO, it is the name of your device to find his mac address, if you don't know the mac address
[Answer]: Consider the scenario, there are multiple BLE devices connected to single TB BLE gateway. Can you please point out what will be "Scanner" - "deviceName" corresponding value?

2. The

[2021-12-21 14:39] samson0v commented on #655
@jayneev, we can make a call if you can, and together solve your problem. Please, send me info on how we can meet (zoom, google meet, teams, etc) in my email (vbidochka@thingsboard.com).
Best regards, Vitalii

[2021-12-21 15:20] jayneev commented on #655
@samson0v, I sent Teams invitation  just now scheduled at 09:00 pm (IST) on above mentioned mail.

Best Regards,
@jayneev

[2021-12-21 15:29] samson0v commented on #655
@jayneev, sorry, but don't receive an email, can you please send me your email and I write to you
Sorry for the inconvenience.

[2021-12-21 15:32] samson0v commented on #655
Sorry, it isn't vbidochka@thingsboard.com, it is vbidochka@thingsboard.io

[2021-12-21 15:33] jayneev commented on #655
ok

[2021-12-21 15:36] jayneev commented on #655
just resent with your correct email id, please check and join.

[2021-12-21 15:46] jayneev commented on #655
We are already on the call. please join on the Teams links provide in meetings requests.

[2021-12-21 16:00] jayneev commented on #655
@samson0v, Are you able to get the link in Teams meeting requests?

[2021-12-21 16:01] samson0v commented on #655
Yes, 5 min

[2021-12-21 17:00] #655 closed

[2021-12-22 03:51] nznobody commented on #657
Looks alright, just needs to be fixed up in the docker files (still points to old paths)

[2021-12-22 05:18] jayneev commented on #655
Hi @samson0v,

Thanks for participation in our live issue diagnosis and discussion, can this issue be discussed and concluded with issue originator @ndrs-cwt, and separate issue be raised for Bleak handling BLE data conversion to resolve it further?

Warm Regards,
Rohit Singh

[2021-12-22 05:26] jayneev opened #660 "[BUG] BLE data converter not working with latest BLE connector remake from master branch"
**Describe the bug**
BLE attributes read for BLE UUID "00002A00-0000-1000-8000-00805F9B34FB" (corresponds to standard BLE connected 'device name') reports Exception error. (Please refer corresponding UUID, below ble.json config - "attributes" section)
This issue is raised separate based on triage with earlier issue thread named "[HELP] Can't read data with new BLE connector #655"

**Connector name

[2021-12-22 06:26] jayneev commented on #655
@samson0v, as discussed separate issue raised - https://github.com/thingsboard/thingsboard-gateway/issues/660#issue-1086463979

Warm Regards,
Rohit

[2021-12-22 08:34] samson0v commented on #657
Thanks for your remarks, we will update the documentation.

[2021-12-22 08:36] samson0v commented on #657
@nznobody Thanks for your remarks, we will update the documentation.

[2021-12-22 08:39] samson0v commented on #660
Hi @jayneev, we will investigate the problem with data converting.
Thanks for your interest in ThingsBoard IoT Gateway!

[2021-12-22 11:07] gohm-tech commented on #658
Hi @samson0v,
We test it again. There are the logs.
[service.log](https://github.com/thingsboard/thingsboard-gateway/files/7762201/service.log)
[connector.log](https://github.com/thingsboard/thingsboard-gateway/files/7762202/connector.log)
[thingsboard_server.log](https://github.com/thingsboard/thingsboard-gateway/files/7762207/thingsboard_server.log)
![1](https://user-images.githubusercontent.com

[2021-12-23 05:42] gohm-tech commented on #658
Hi @samson0v,

Do you think it can be related to our thingsboard-gateway version?

Regards,
**Gohm Team**

[2021-12-23 12:27] gohm-tech opened #661 "[HELP] How can we download the sensor firmware file into the gateway?"
Hi,
![Screenshot from 2021-12-23 15-06-59](https://user-images.githubusercontent.com/91528436/147238433-b93e8c23-0d9f-4394-9b98-7424a9b4f690.png)
We have a gateway and sensors. Sensors connected the sensor. We want to update sensor firmware via Narrow Band (RF). But first we need to download the sensor's firmware file into the gateway. There is a relation between sensor and gateway. When We change

[2021-12-23 13:00] gohm-tech opened #662 "[BUG] Do we have to send sensor connection requests from the gateway to connect between different gateway and sensor connected to another gateway?"
We are working on RPC capabilities.
- Firstly the sensor sent sensor data via MQTT connector using /sensor_data topic. (The sensor has never used connectRequests.)
- We can see this sensor data on the Thingsboard dashboard.
-  We send a rpc_two_way from swagger.
- Incoming RPC for the sensor received to the MQTT connector. (There is no problem so far.)
- The same sensor sent the sensor data from a

[2021-12-23 13:52] gohm-tech commented on #662
Hi @zbeacon,

We think we don't need to send connectRequests.
![Screenshot from 2021-12-23 16-47-33](https://user-images.githubusercontent.com/91528436/147249756-e2d334b8-485f-4aa0-987f-92663aae3267.png)

Best Regards,
**Gohm Team**

[2021-12-24 07:43] samson0v commented on #661
Hi @gohm-tech, you have to use [ThingsBoard Python SDK](https://github.com/thingsboard/thingsboard-python-client-sdk) and run it on your sensors for downloading firmware.
Thanks for your interest in ThingsBoard IoT Gateway.

[2021-12-26 00:37] ferguscan commented on #272
Hi,

I am experiencing this issue, and I use Thingsboard IoT Gateway via Docker.  Will the official Docker image be updated to include this fix?  I see the image was last updated two months ago: https://hub.docker.com/r/thingsboard/tb-gateway/tags

Thanks!

[2021-12-27 14:37] santobedi opened #663 "AttributeError: 'str' object has no attribute 'get' [ThingsBoard IoT gateway version: 2.9]"
**Describe the issue**
The error arises after installing ThingsBoard IoT gateway version: 2.9 and updating the config files. I didn't have this error with earlier version of the gateway.

**Connector name (If you need help with some connector/converter):**
Modbus and MQTT connectors

**Error traceback (If it was raised):**
[code]

**Versions (please complete the following information):**
 - OS: Ub

[2021-12-28 07:50] #649 closed

[2021-12-28 08:09] #473 closed

[2021-12-28 08:14] samson0v commented on #639
Was discussed and a new issue was opened.

[2021-12-28 08:14] #639 closed

[2021-12-28 08:15] samson0v commented on #637
Hi @hangusto, did it help, can we close the issue?

[2021-12-28 08:15] samson0v commented on #638
Hi @RenCisco , did it help, can we close the issue?

[2021-12-28 08:55] zbeacon commented on #662
Hi @gohm-tech ,

Actually the gateway sends connect request on the very first message with telemetry/attributes from device. Connect request in your case is not required, it was developed for case when you want to create the device and process it on ThingsBoard, but the data will be sent later.
In order to solve the issue with RPC we have to change the logic in ThingsBoard. Because at the moment T

[2021-12-28 08:59] santobedi commented on #663
[Update]
I reinstalled the gateway from [pip](https://thingsboard.io/docs/iot-gateway/install/pip-installation/). Now, I get **AttributeError: 'ModbusTcpClient' object has no attribute '_in_waiting'**.

Is it a BUG?

In addition, the telemetry value of MQTT is strange!

Following is a part of the config file (timeseries):
[code]

The telemetry received for this config is:

 (Last update time) 2021

[2021-12-28 10:10] zbeacon commented on #662
In order to send RPC to another gateway - Please try to send disconnect request to old gateway and connect to the new one, then device session will be assigned to the new gateway.

[2021-12-28 14:13] samson0v commented on #663
Hi @santobedi, there is no new release, so you have to use the newest Gateway version via the master branch and install it from the source.

[2021-12-29 09:39] hansju-11 opened #666 "[BUG] after Update from 2.7 to 2.9 mqtt parser did not workcat"
**Describe the bug**
I did a update from 2.7 to 2.9 via deb pack.
Now I can still receive mqtt message but I did not get the values into thingsboard. For me it looks like that the parser is not working. Instead of the values I got "pattern string" into the value field.

**Connector name (If bug in the some connector):**
mqtt broker.

my config:

{
  "broker": {
        "name":"ttn-mqtt",
    "host

[2021-12-29 10:00] samson0v commented on #666
HI @hansju-11, the bus was fixed, please, update your Gateway to the newest version via the master branch.
Thanks for your interest in ThingsBoard IoT Gateway.

[2021-12-29 12:04] hansju-11 commented on #666
Hello samson0v,

I did an update https://thingsboard.io/docs/iot-gateway/install/source-installation/

but still I have the same problem.

[2021-12-29 12:11] samson0v commented on #666
@hansju-11, pleas, try to use `${uplink_message.decoded_payload.temperature_1}` insted of `${$.uplink_message.decoded_payload.temperature_1}`

[2021-12-29 12:14] hansju-11 commented on #666
sorry but this is not working.

sysadmin@thingsboard:~/thingsboard-gateway$ sudo python3 ./thingsboard_gateway/tb_gateway.py
""2021-12-29 12:13:11" - |INFO| - [tb_gateway_service.py] - tb_gateway_service - __init__ - 76 - Gateway starting..."
""2021-12-29 12:13:11" - |DEBUG| - [tb_updater.py] - tb_updater - check_for_new_version - 69 - Checking for new version"
""2021-12-29 12:13:11" - |DEBUG| - [

[2021-12-29 12:28] samson0v commented on #666
@hansju-11 send, please, the message that you are sending to the broker topic

[2021-12-29 12:42] samson0v commented on #666
@hansju-11 your device has to send the next message to the broker topic
`mosquitto_pub -h 127.0.0.1 -p 1883 -t /sensor/data -m '{"serialNumber": "asd", "uplink_message": {"decoded_payload": {"temperature_1": 12, "relative_humidity_2": 123}}}'`

Result:
<img width="1205" alt="зображення" src="https://user-images.githubusercontent.com/43861229/147663253-6bf091d0-5794-42db-912b-278cb8eab5b5.png">

So

[2021-12-29 12:47] hansju-11 commented on #666
This is the message I got from ttn :

{
  "end_device_ids": {
    "device_id": "eui-aa11b*********44",
    "application_ids": {
      "application_id": "drag***************************"
    },
    "dev_eui": "aa11b*********44",
    "join_eui": "70B3*********579",
    "dev_addr": "260****D"
  },
  "correlation_ids": [
    "as:up:01FR33H8NJ931ZMZSCS8ZTG0R1",
    "gs:conn:01FR0P22R01AJ3Y2RP40YB4NCW",

[2021-12-29 12:52] hansju-11 commented on #666
my topic is
v3/drag******************@ttn/devices/eui-aa1****************/up

[2021-12-29 12:54] hansju-11 commented on #666
do you know a way to debug the incoming message in raw (the mqtt client will get from ttn). For now I use a external mqtt browser with the same credential to see the messages from ttn?

[2021-12-29 13:02] samson0v commented on #666
@hansju-11 I use your config file to test the Gateway
[code]
also I use your message and I didn't see any problem with converting data (the last screenshot)
<img width="711" alt="зображення" src="https://user-images.githubusercontent.com/43861229/147665071-fc1e4d52-7b66-4507-96f0-a365e552de1e.png">

<img width="1499" alt="зображення" src="https://user-images.githubusercontent.com/43861229/14766499

[2021-12-29 13:04] samson0v commented on #666
@hansju-11 it seems that you have a problem with your device or you use the old version of Gateway

[2021-12-29 13:06] hansju-11 commented on #666
ok, I will uninstall the gateway and install it again, to see. maybe old code at some hidden places.
I will keep you updated.
Thanks for your help

[2021-12-29 16:54] hansju-11 commented on #666
IT IS WORKING !!!

but I had to reinstall the whole python, not only the thingsboard gateway.
I dont know, but I'm happy now.

Thx Vitalii for being with me ....

[2021-12-29 18:10] #666 closed

[2021-12-30 09:54] gmgiddikar1 opened #668 "Thingsboard Gateway not connecting to Bacnet"
Thingsboard IOT gateway does not seem to detect bacnet device. The logs do not show any error. But if I use any other IP address other than 127.0.0.1/0.0.0.0 in the address of the general section like 192.168.1.221, it throws an error.. Also, when I use 127.0.0.1 or 0.0.0.0, it does not detect the device and hence it is not added in my thingsboard server.
In contrast, the modbus device is detected

[2021-12-30 10:43] jayneev commented on #660
Hi @samson0v, we are ready for testing the BLE connector for this fixes at our end. Is there any opportunity to test development fixes on this issue?
Thanking in advance.
Warm Regards,
@jayneev

[2021-12-30 12:29] samson0v commented on #660
@jayneev, we have investigated the problem with converting data, so for now I am working on fixing it. I will let you know when it is done.

[2021-12-30 14:22] #660 closed

[2021-12-31 05:09] gohm-tech commented on #662
Hi @zbeacon,
Thanks for your interest. If the first gateway is not working and The device connects to the second gateway, We can not send a disconnect request from the first gateway. So How can we do that from another device (computer or server) as if sending the first gateway disconnect message? Any work on this issue? When will you solve this issue?
Best Regards,
**Gohm Team**

[2021-12-31 07:32] gohm-tech opened #670 "[BUG] High CPU usage because of while loop in mqtt_firmware_client.py"
Hi,
We are using the [mqtt_firmware_client.py](https://thingsboard.io/docs/user-guide/resources/firmware/mqtt_firmware_client.py) code for the [OTA updates](https://thingsboard.io/docs/user-guide/ota-updates/?remoteintegrationdockerinstall=mqtt). But when we used this code, we realized that our device was using a high CPU. Afterward, we investigated this and changed the code as follows.

[mqtt_fir

[2021-12-31 08:11] samson0v commented on #670
Hi @gohm-tech, this bug doesn't relate to Gateway. Create an issue in [thingsboard-python-client-sdk
](https://github.com/thingsboard/thingsboard-python-client-sdk).

[2021-12-31 08:23] samson0v commented on #670
@gohm-tech This bug was fixed via the [commit](https://github.com/thingsboard/thingsboard-python-client-sdk/commit/f13e8d2f6e123c91238c701bccf16328e01879e2). The file from documentation will change to a new version soon.
Thanks for your interest in ThingsBoard.

[2021-12-31 08:23] #670 closed

[2021-12-31 11:21] jayneev opened #672 "[Help Wanted] BLE connector remake not working with fixes 'Fixed data converting for BLE Connector #669'"
**Describe the bug**
BLE attributes read for standard BLE 'device name' characteristics UUID "00002A00-0000-1000-8000-00805F9B34FB" reports Exception error.
'bleak.exc.BleakError: Characteristic with UUID 00002A00-0000-1000-8000-00805F9B34FB could not be found!'
(Please refer corresponding UUID, below ble.json config - "attributes" section)
This issue is linked to earlier issue named "[BUG] BLE da

[2021-12-31 11:48] jayneev commented on #672
@samson0v, it seems that the BLE converter still not working with latest fixes named "with fixes 'Fixed data converting for BLE Connector #669'". Could you please check the above logs and ble.json?

[2021-12-31 12:29] samson0v commented on #672
Hi @jayneev, it seems that your BLE device hasn't that characteristic, make sure that you are using the right one. To see all characteristics set `"showMap": true` on your device config section and use them (we were doing those things on our call).

`"valueExpression": "[:]"` - it is in what format data will be sent to the Gateway. When the data come from the device to Gateway, it is a byte array,

[2021-12-31 12:43] jayneev commented on #672
@samson0v,
Can we have discussion on Teams if you are available now?

[2021-12-31 12:45] samson0v commented on #672
@jayneev today no, but on Tuesday (04.01.2022) we can make a call.

[2021-12-31 13:00] jayneev commented on #672
@samson0v,
1) It's standard BLE device Name characteristic UUID - "00002A00-0000-1000-8000-00805F9B34FB" which is default generic access attributes sent as default by BLE device connected. In all past releases it worked OK and returned CMx4 as 'Device Name', which  was published from Thingsboard Gateway to Thingsboard.
2) "valueExpression": "[:]" -  we set it to read all bytes in the array. Not su

[2021-12-31 13:18] samson0v commented on #672
@jayneev, use `showMap` to find out what characteristics exist and send the list here.

[2021-12-31 13:19] jayneev commented on #672
""2021-12-31 11:06:56" - |INFO| - [ble_connector.py] - ble_connector - __show_map - 65 - FOUND DEVICES"
""2021-12-31 11:06:56" - |INFO| - [ble_connector.py] - ble_connector - __show_map - 74 - E2:E1:C2:57:D7:09: CMx4"
""2021-12-31 11:06:56" - |INFO| - [ble_connector.py] - ble_connector - __show_map - 74 - 62:9F:15:CD:EC:17: 62-9F-15-CD-EC-17"
""2021-12-31 11:06:56" - |INFO| - [event_storage_reader

[2021-12-31 13:20] samson0v commented on #672
@jayneev and send, pls, the config file that you are using

[2021-12-31 13:21] jayneev commented on #672
{
  "name": "BLE Connector",
  "passiveScanMode": false,
  "showMap": true,
  "devices": [
    {
      "name": "CMx4",
      "MACAddress": "E2:E1:C2:57:D7:09",
      "pollPeriod": 5000,
      "showMap": true,
      "timeout": 10000,
      "telemetry": [
        {
          "key": "Temp",
          "method": "notify",
          "characteristicUUID": "1E821401-4A30-45B4-9E17-93F34E283081",

[2021-12-31 13:26] samson0v commented on #672
@jayneev I don't understand why you are using a characteristic UUID that doesn't exist in the device
<img width="526" alt="зображення" src="https://user-images.githubusercontent.com/43861229/147825563-4cf9d7f5-b867-49f0-8f60-e2b892239d5d.png">
The first telemetry section is OK because you use the right characteristic, the next attributes section is not OK, so Gateway raises the exception.

To fix

[2021-12-31 13:28] jayneev commented on #672
Deleting attribute section, will update on it soon online

[2021-12-31 13:38] jayneev commented on #672
@samson0v, below are the logs and ble configuration. Hope this helps.

<<<<<<<<<<<<<<<<<<<<<< logs START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
thingsboard_gateway# ""2021-12-31 13:30:20" - |INFO| - [tb_gateway_service.py] - tb_gateway_service - __init__ - 77 - Gateway starting..."
""2021-12-31 13:30:20" - |INFO| - [tb_gateway_service.py] - tb_gateway_service - __init__ - 82 - ThingsB

[2021-12-31 13:40] samson0v commented on #672
@jayneev BLE device not found, make sure that your device is on and BLE is on too.

[2021-12-31 13:45] jayneev commented on #672
checking it.

[2021-12-31 13:48] samson0v commented on #672
@jayneev don't send logs that make no sense, I think there is no problem firstly check device connection, check logs and check if these logs relate to the problem of this issue.

[2021-12-31 13:55] jayneev commented on #672
Do you understand that this UUID devices sent which leads to it's identification as CMx4? Device was reconnected and tested. Below are the logs. Note that no CMx4 device updates on the THINGSBOARD dashboard side.

<<<<<<<<<<<<<<<<<<<<<< logs START <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
thingsboard_gateway# ""2021-12-31 13:48:28" - |INFO| - [tb_gateway_service.py] - tb_gateway_service

[2021-12-31 14:00] samson0v commented on #672
@jayneev I can't see any problems, you are using notify method, so make sure that data on your device changing.

[2021-12-31 14:21] jayneev commented on #672
@samson0v, device sending updated changed data notification periodically OK, was working and tested OK with TB gateway previous version release since 2.5.2 and onwards.

[2022-01-02 14:19] l33tkrew opened #673 "[HELP] Error in REST configurations - aiohttp"
**Describe the issue**
I am getting errors while running tb-gateway after enabling REST. I tried both the latest docker image and deb package. Both give the same error. I did not create SSL .cert and .pem since I disabled the SSL configuration in the yml file.

Also, I did not touch any py files. All python files are the same as the original files

**Configuration** (Attach your configuration file

[2022-01-02 17:22] jayneev commented on #672
@samson0v, device sent updated data notification tested OK with TB gateway previous release versions 2.5.2 and onwards till release v2.9 (with bluepy) . So, why with same devices sending data to TB gateway (latest version 2.9 from master branch using bleak), updated data not received?

[2022-01-02 17:32] l33tkrew opened #674 "[HELP] MQTT Error in transferring data from client"
**Describe the issue**
When I push data from the client, I could see the result in MQTT explorer. But I cannot push the data more than once.
I do not encounter this problem in deb package (2.9).
I cannot spam data when I install tb-gateway latest image or tb-gateway latest master branch.
Again the error below only occurs when I send the first data.

The command I run in client: Again I run the sam

[2022-01-02 17:47] #673 closed

[2022-01-02 17:49] l33tkrew commented on #674
I encounter the same output when I push data through REST connector. I think it appears when gateway tries to send to main server.
Interestingly, The 2.9 version works well. I want to use master branch because docker image and 2.9 version gives error when I want to use REST connector.

[code]

[2022-01-03 01:13] RenCisco commented on #638
@samson0v Thanks a lot for your help and support!

[2022-01-03 01:13] #638 closed

[2022-01-03 07:27] gohm-tech commented on #661
Hi @samson0v,

We tried to implement this code (tb_device_mqtt.py and tb_gateway_mqtt.py) into thingsboard-gateway. But we got an error.
When will you push the new version of thingsboard-gateway which includes this option?

Best Regards,
**Gohm Team**

[2022-01-03 11:59] santobedi commented on #663
Hi @samson0v,
I installed the newest Gateway from [here](https://thingsboard.io/docs/iot-gateway/install/source-installation/). Now I get ,

**AttributeError: 'ModbusTcpClient' object has no attribute '_in_waiting'**

Is it a bug or did I miss something else?

[2022-01-04 07:34] zbeacon commented on #674
Hi @l33tkrew ,

Thank you for your interest in ThingsBoard IoT gateway, it looks like  the gateway receives a message to topic v1/gateway/rpc. Expected payload in this message is `{"device":"Device A", "data":"some_data"}`. But this message doesn't contain device name in the message. Please check, do you have some RPC sending in your Rule Chains. It may produce this issue.

In order to investigate

[2022-01-04 08:02] samson0v commented on #663
Hi @santobedi, I think you have the same problem as [this](https://github.com/thingsboard/thingsboard-gateway/issues/666).

[2022-01-04 08:05] samson0v commented on #661
Hi @gohm-tech, as far as I know, in the near future we won't implement this in Gateway because we have this functionality in [Python SDK](https://github.com/thingsboard/thingsboard-python-client-sdk) and [Arduino SDK](https://github.com/thingsboard/thingsboard-arduino-sdk).

[2022-01-04 08:34] samson0v commented on #668
Hi @gmgiddikar1, thanks for your interest in ThingsBoard IoT Gateway.
I think that it is problem with the misconfiguration of your docker network.
I guess so too that if to use the [IP address of docker container](https://www.freecodecamp.org/news/how-to-get-a-docker-container-ip-address-explained-with-examples/) as a server address, it has to work.
Or it can be a problem through port forwarding.

[2022-01-04 10:04] l33tkrew commented on #674
I do not have RPC sending in my Rule Chains. Btw I could not understand how I can enable DEBUG logging.

For MQTT, I use this command;
[code]

I can send this message multiple times in 2.9 version deb package. I do same thing with same configurations in master branch version but I cannot push the data multiple times. I also use REST connector, it also converts data but it cannot push to thingsboar

[2022-01-04 10:15] zbeacon commented on #674
Could you try to stop the gateway, remove file "connected_devices.json" and then restart the gateway? The part of code with the error it is callback for messages from ThingsBoard and by some, unknown at the moment, for me reason ThingsBoard sends some attribute update message, but without "device" field, could you check topic "v1/gateway/attributes" with mqtt explorer on your instance? It may cont

[2022-01-04 10:25] l33tkrew commented on #674
I deleted the file and reran the python script. The same error occurred.
I restart the gateway 3 times to see messages. That's the reason why there are 3 messages in mqtt explorer.  If I did not restart the gateway, I could not send 3 messages.
![tq1](https://user-images.githubusercontent.com/96985138/148044899-792ff8d6-6016-4c16-a8cf-0d454d7913b5.PNG)

I will try to fix the REST connector in the

[2022-01-04 10:29] l33tkrew commented on #674
Let me know that I ran my server1 (with 2.9 deb package) and a new server2 (with the latest master branch version)

Both of them are connected to the same thingsboard. When I sent the mqtt data to my server1 (deb package), the server2 (master branch) showed error logs. (But I did not use server2 ip while sending mqtt-client request).

[code]
Maybe it may help you

[2022-01-04 10:41] zbeacon commented on #674
Could you try to connect to thingsboard.cloud and send the data? Because unfortunately, I cannot reproduce the issue.

[2022-01-04 10:47] zbeacon commented on #674
I was wrong about RPC's, do you save something to shared attributes in Rule Chains?

[2022-01-04 10:57] l33tkrew commented on #674
I copied paho client.py from deb package into paho client.py in the master branch version. The problem is fixed. I did not do anything in gateway confs.

Before changing the connect of client.py, I checked the differences between two client.py file.
https://www.diffchecker.com/P1HDQ8Ui

Now, I can use both MQTT and REST connectors. Also, I can spam data. But I did a very poor solution to fix the p

[2022-01-04 12:24] l33tkrew commented on #674
I could not find a way to get an access token for the gateway. I was able to create a device (click on is gateway checkbox). But i do not know how can i achieve this on the cloud system.

Btw, do I have to connect cloud? Because it is obvious that there is a compatibility issue with new paho client.py

[2022-01-04 12:33] zbeacon commented on #674
No, it is not necessary. It may be fixed also with upgrading paho library via pip3 install paho-mqtt --upgrade .

[2022-01-04 12:59] l33tkrew commented on #674
I have already the newest version of paho-mqtt. Whatever, I will use old version of client.py or paho-mqtt.

I have one more question about mqtt.json file

[code]

SerialNumber variable is written differently. Some lines contain ${serialNumber} and other lines contains ${SerialNumber}. Is that a problem?

Additionally,

[code]

Should I care about this error output? If I remove "attributeRequests"

[2022-01-04 14:39] l33tkrew opened #675 "[BUG] Compability issue with paho 1.6.1 version"
**Describe the bug**
When I used the latest paho-mqtt, I got errors. But when I use paho-mqtt 1.5.0 version. I do not get any errors.

* Server with latest master branch version

* Server with 2.9 deb package version

I think the master branch version has a compatibility issue with paho-mqtt 1.6.1, which is installed automatically while installing the master branch.
Also, the latest docker image f

[2022-01-04 14:44] #674 closed

[2022-01-04 15:17] l33tkrew opened #676 "[BUG] Docker image error"
**Describe the bug**
I am getting an error while installing the latest docker image. Due to this error, this docker container does not start.

my docker-compose file content;
[code]
I created the necessary directories and set permission.

I was able to install thingsboard/tb-gateway:2.0 but 3.0 image version causes an error.

**Connector name (If bug in the some connector):**
-

**Error traceback

[2022-01-04 15:37] l33tkrew commented on #676
I tried Dockerfile in master branch on github.

I again got the following errors

[code]

[2022-01-05 05:08] #661 closed

[2022-01-05 05:14] gohm-tech commented on #658
Hi @samson0v,

We created two new gateways. One of them has the 2.7 version and the other has the latest version. (The reason we use version 2.7 is high CPU usage in the latest version). We have created a service that will send data over an MQTT connector per second. We think that this way we can understand whether the error is caused by the version.

Have you encountered such an error before?
Do

[2022-01-05 06:27] gmgiddikar1 commented on #668
Hi Vitalii, thanks for comment. We have tried using server address as a IP address of docker container. Please explain why you think its a problem through port forwarding.  AS I already mentioned that Yabe detects the network and device and able to read the object id present values.

[2022-01-05 08:16] zbeacon commented on #676
Hi @l33tkrew ,

It may be caused by one bug, we have updated docker image. Please try to download latest docker image and run again.

[2022-01-05 08:17] zbeacon commented on #675
Hi @l33tkrew ,

We have released the new version, please try to use it.

[2022-01-05 08:50] zhuyujie1993 commented on #676
Please provide the source address of docker warehouse.
I tried “ https://registry.hub.docker.com/r/thingsboard/tb-gateway”

Retry or fail to start

[2022-01-05 08:51] zhuyujie1993 commented on #676
Please provide the source address of docker warehouse.
I tried “ https://registry.hub.docker.com/r/thingsboard/tb-gateway”

Retry or fail to start

[2022-01-05 08:54] zhuyujie1993 commented on #676
OS：linux/arm64

[2022-01-05 10:25] ndrs-cwt opened #678 "[HELP] Create .deb package failed"
Hello all
I try to create .deb package with command ```sudo ./generate_deb_package.sh clean``` but I got this error and build process stopped
[code]

full command log here
[conmand_log.txt](https://github.com/thingsboard/thingsboard-gateway/files/7814041/conmand_log.txt)

Code based from https://github.com/thingsboard/thingsboard-gateway/commit/246c6c9595c7d442f2399a373702053f7e83d676

[code]
Ubun

[2022-01-05 12:05] l33tkrew opened #679 "[HELP] Connectors Message Formats"
**Describe the issue**
I want to test MODBUS, BLE, CAN Connectors. However, I do not know how to send messages? I read all documentation about tb-gateway. I think testing the connectors is missing in the documentation.

For example, I use the following format to text MQTT and REST(POST) to test. As you can see the message formats are different. For example, I could not a way to test MODBUS connect

[2022-01-05 12:08] samson0v commented on #672
@jayneev we released a new version of Gateway and updated documentation where describe all config parameters.
You are welcome https://thingsboard.io/docs/iot-gateway/config/ble/

[2022-01-05 12:14] samson0v commented on #658
Hi @gohm-tech, we released a new version of Gateway 3.0 (include a High CPU usage fix), so I think it will be better if you **completely** delete all versions of Gateways you have, install the new (3.0) one and send the logs from it.
Thanks for your interest in ThingsBoard IoT Gateway!

[2022-01-05 12:29] samson0v commented on #679
Hi @l33tkrew, mosquitto_pub is used only if you are using an MQTT connector, if you want to use Modbus Connector, you have to use device compatible or create slave using, for example, [pymodbus](https://pymodbus.readthedocs.io/en/latest/source/example/modbus_payload_server.html).
So, for example, if you want to use BLE Connector, there are two options:
1. Use real BLE Device
2. Use a simulator on

[2022-01-05 12:39] zbeacon commented on #678
Hi @ndrs-cwt ,

Please try to install the gateway first, with `sudo pip3 setup.py install` and then run `sudo bash generate_deb_package.sh clean`.
In order to generate the deb package - you have to install the gateway, because, unfortunately we cannot use relative import in grpc files (It is a problem with generation for python).

Please try to follow to suggested steps and let us know about the r

[2022-01-05 12:39] #370 closed

[2022-01-05 12:40] #372 closed

[2022-01-05 13:36] ndrs-cwt commented on #678
@zbeacon
I install the gateway with ```sudo python setup.py install```
[install_tb_gw_log.txt](https://github.com/thingsboard/thingsboard-gateway/files/7815128/install_tb_gw_log.txt)

but after run ```sudo bash generate_deb_package.sh clean``` I still got the same ```AttributeError: module 'google.protobuf.descriptor' has no attribute '_internal_create_key'``` error.

[generate_deb_package.sh_clea

[2022-01-05 17:32] zbeacon commented on #678
Please try to run the following command and then try to generate again:
`sudo pip install --upgrade protobuf`

[2022-01-05 23:17] ysimonx opened #680 "[BUG] OPCUA attributes updates - attributeOnDevice matches with 2 variables"
**Describe the bug**
on https://thingsboard.io/docs/iot-gateway/config/opc-ua/,
it is written that attributeOnDevice is the "Name of variable that will change itself value with a value from attribute update request."

However, when i update this shared variable on Thingsboard, two variables are updated on OPCUA server. Theses variables start with the same string

my configuration is
"attributeOnDe

[2022-01-05 23:20] ysimonx commented on #680
A quick solution can be

instead of :

[code]

I made some changes with

[code]

[2022-01-05 23:25] ysimonx commented on #680
PR : https://github.com/thingsboard/thingsboard-gateway/pull/681

[2022-01-06 04:56] artofdestroy commented on #678
@zbeacon
confirmed ```sudo pip install --upgrade protobuf``` Fixed my problem.

[2022-01-06 05:21] gohm-tech commented on #658
Hi @samson0v,

Thanks for your interest. Thanks for this information too. After the testing we realized something. thingsboard-gateway and this code are working together. We have created a service for working continuously to mqtt_client_firmware.py code. This code wants to subscribe same topics. So we were getting this error #643. After getting this error we change the ACTORS_MAX_CONCURRENT_SESSIO

[2022-01-06 09:14] #680 closed

[2022-01-06 09:26] Balaji-schnell opened #682 "TLS self signed certificate python error"
i have used these commands to generate server.pem ( self signed certificate ) and server_key.pem (privarte key)
openssl ecparam -out server_key.pem -name secp256r1 -genkey
openssl req -new -key server_key.pem -x509 -nodes -days 365 -out server.pem

and the server running fine
In client side used below cmds to get client certificate and private key

openssl ecparam -out key.pem -name secp256r1 -gen

[2022-01-06 11:44] ndrs-cwt commented on #678
@zbeacon
Thank you ```sudo pip install --upgrade protobuf``` Fixed my problem.

[2022-01-06 11:44] #678 closed

[2022-01-06 12:45] samson0v commented on #682
Hi @Balaji-schnell, I think your issue is related to [ThingsBoard](https://github.com/thingsboard/thingsboard), but not to Gateway. Also, I think that the way you generate your certificate is wrong.

[2022-01-06 12:45] #682 closed

[2022-01-06 20:01] l33tkrew opened #683 "CoAP Protocol Feature"
**Describe the issue**
Will tb-gateway support CoAP protocol? Because I can use CoAP in Thingsboard alone but not in tb-gateway.

[2022-01-06 20:05] l33tkrew commented on #679
So, if I want to use Modbus, should start modbus server manually. REST connector automatically creates a server and listen on 5000 port. But, It seems I should create modbus server manually with python.

Is [pymodbus](https://pymodbus.readthedocs.io/en/latest/source/example/modbus_payload_server.html) server script that should be run on tb-gateway server? Without this script, I got a connection pr

[2022-01-06 21:55] #679 closed

[2022-01-06 22:02] l33tkrew opened #684 "[HELP] OPC-UA Connection refused"
**Describe the issue**
When I activate the OPC-UA connector, I got a connection refused problem. Also, I cannot see the 4840 port on listening ports.

I tried localhost, 0.0.0.0, 192.168.1.115 IP address. But, none of them worked.

Is it a problem to use both REST and OPC-UA connectors at the same time?

**Configuration** (Attach your configuration file)
[code]

**Connector name (If you need help

[2022-01-07 07:42] ysimonx commented on #684
Hello

This connector is not a OPCUA Server
it is a OPCUA Client

You need a OPCUA Server (for instance a nodered server)

[2022-01-07 08:55] tianke3477 commented on #676
have same error in centos7.9

[2022-01-07 09:53] greg-mcnamara opened #685 "[BUG] Latest docker image fails on start (arm64)"
**Describe the bug**
I'm trying to run the latest (3.0) docker image for thingsboard-gateway and it fails to start up with the error message below in the logs. If I downgrade to the 2.9 version it starts up ok.

[code]

**Connector name (If bug in the some connector):**

**Error traceback (If available):**

**Versions (please complete the following information):**
 - OS: Ubuntu 20.04 (arm64 on rpi

[2022-01-07 23:03] mrSilkie opened #686 "Failed to start gateway. (same as #366)"
**Describe the bug**
Following gateway install instructions to find that service crashes. - https://thingsboard.io/docs/iot-gateway/install/deb-installation/

**Your Server Environment**
Running on a virtual machine run by a paid host, ubuntu 18.04, TB 3.3.1, Python 3.7

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
I'm expecting to see
[code]

**Screenshots**
![Ca

[2022-01-08 00:58] mrSilkie commented on #686
Solved.

Installed with pip instead of the package manager.

[2022-01-08 00:58] #686 closed

[2022-01-08 11:48] basubhaskar commented on #685
This is correct. I have added 'RUN python /setup.py install' in Dockerfile and did build it locally. This resolved the issue. But I am facing a new issue. Its not connecting to opcua endpoint with the error

File "/usr/local/lib/python3.8/site-packages/thingsboard_gateway-3.0-py3.8.egg/thingsboard_gateway/connectors/opcua/opcua_connector.py", line 509, in OpcUaConnector
tb-gateway    |     def get

[2022-01-08 12:58] ysimonx opened #687 "[BUG] OPCUA Connector very long MQTT connection to Thingsboard"
**Describe the bug**
Connection to MQTT Thingsboard is very long with TB Gateway
i have lots of "connecting to ThingsBoard" before any connection
However, when i try to telnet thingsboard.cloud on port 1883, the connection is made very quickly

**OPC-UA Connector:**

**Error traceback :**
[code]

**Versions :**
 - OS: Mac OS
 - Thingsboard IoT Gateway version 3.0]
 - Python version 3.9

[2022-01-08 13:02] ysimonx commented on #687
on
thingsboard_gateway/tb_client/tb_device_mqtt.py

if i add a "sleep" , the connection is made without waiting

[code]

with less than 3 seconds, the connection is not available before a long time

I have a very good connection to Internet from the TB Gateway

[2022-01-08 13:33] ysimonx commented on #687
FYI : I have the impression that as long as the connector founds the OPCUA attributes nodes, telemetry nodes , the MQTT connection is difficult to establish

[2022-01-08 14:40] l33tkrew commented on #676
It is still the same. I cannot start tb-gateway. I installed the latest version with both docker pull and docker-compose. They gave same error.

You can see it is not starting.
[code]

Log
[code]

[2022-01-08 19:26] l33tkrew commented on #684
When I run this server from another virtual machine in my local network. The gateway can connect to it but I cannot get the data to be sent to tb through mqtt protocol.

Can you help me how can i send the correct data to opc protocol?

[code]

OPC confs
[code]

[2022-01-08 19:43] ysimonx commented on #684
can you provide tb_gateway.yaml please ?

[2022-01-08 19:53] ysimonx commented on #684
can you provide your tb_connection.log too ?

[2022-01-08 20:49] greg-mcnamara commented on #685
Thanks @basubhaskar I noticed /setup.py had been removed from Dockerfile after 2.9 so I also tried adding it back in but the build failed (were you building on ARM or AMD?). I ended up checking out the 2.9 release code, updating the code specifically for the aiohttp fix in 3.0 (the main reason I wanted 3.0) and rebuilding. So I have a working custom docker image but would like to see a working 3.0

[2022-01-08 20:53] greg-mcnamara commented on #676
@zbeacon I have the same error, see #685. Sorry I didn't see this issue earlier, didn't mean to duplicate.

[2022-01-09 09:40] basubhaskar commented on #685
Its amd64 for me. I finally fixed this issue by adding following four installables in setup.py
        'pytz',
        'python-dateutil',
        'lxml',
        'opcua'
and building the docker with setup.py install included as I mentioned in last post.

[2022-01-10 11:30] jayneev opened #688 "[BUG] BLE connector not connecting with multiple BLE devices on startup with latest Bleak Client introduced- TB gateway release ver3.0"
**Describe the bug**
BLE Connector clients - TB Gateway release ver 3.0,  not able to connect to multiple devices on startup. Bleak multiple clients fail to connect concurrently to all devices. Only max 1-2 devices connected at some instances and that too not sending telemetry data to Thingsboard Application.
Query:
Is this Bleak client able to connect to more multiple BLE devices (e.g 3 devices )

[2022-01-10 11:46] samson0v commented on #687
Hi @ysimonx, we investigating the problem. I will let you know about the results.

[2022-01-10 11:50] samson0v commented on #672
Opened another issue

[2022-01-10 11:50] #672 closed

[2022-01-10 11:50] samson0v commented on #688
Hi @jayneev, please, send the logs of the Gateway.

[2022-01-10 11:52] zbeacon commented on #685
Hi @basubhaskar, @greg-mcnamara thanks for your participating. Could you try to use the latest image now?

[2022-01-10 11:53] zbeacon commented on #676
Hi, Please try to use the latest docker image now.

[2022-01-10 11:53] samson0v commented on #683
Hi @l33tkrew, thanks for your interest in ThingsBoard IoT Gateway, we will discuss your offer and let you know.

[2022-01-10 12:06] #637 closed

[2022-01-10 13:42] jayneev commented on #688
@samson0v, mailed you the logs to your e-mail. Please check.

[2022-01-10 17:11] ysimonx opened #689 "[BUG] shared attributes cloud version - not pushed to gateway with MQTT Transport"
**shared attributes cloud version - not pushed to gateway**
When I update attribute on a opcua server, the telemetry is updated on thingsboard
Until yesterday, i managed to update a node on opcua server thanks to "shared variables"

I don't manage to update this variable anymore
shared attributes updates are not pushed to gateway with MQTT any more

**Error traceback:**

The MQTT subscription are

[2022-01-10 17:28] ysimonx commented on #689
with the following code

`var mqtt = require('mqtt')
var client  = mqtt.connect('mqtt://thingsboard.cloud',{
    username: process.env.TOKEN
})

client.on('connect', function () {
    console.log('connected')
    client.subscribe('v1/devices/me/attributes')
})

client.on('message', function (topic, message) {
    console.log('response.topic: ' + topic)
    console.log('response.body: ' + message.t

[2022-01-10 18:26] ysimonx commented on #689
hum .... https://twitter.com/thingsboard/status/1480501145277714434
![Capture d’écran 2022-01-10 à 19 26 18](https://user-images.githubusercontent.com/1449867/148819052-ca7c0e32-40cb-4656-a0fa-02690a933b5f.png)

[2022-01-10 22:57] greg-mcnamara commented on #685
Hi @basubhaskar, the latest image works ok for me now with no modifications. Thanks!

[2022-01-10 23:01] greg-mcnamara commented on #676
Hi @zbeacon the latest image works for me now. Thanks!

[2022-01-11 00:24] l33tkrew commented on #684
[code]

I'll send the log file tomorrow. But it does not include any error.

[2022-01-11 00:25] #675 closed

[2022-01-11 00:25] #683 closed

[2022-01-11 00:25] #676 closed

[2022-01-11 03:00] greg-mcnamara commented on #685
Closing this issue. Resolved by updated docker image for v3.0.

[2022-01-11 03:00] #685 closed

[2022-01-11 04:06] jeffreylauck opened #690 "[HELP] Unable to start TB Gateway 3.0.1 & Question about Remote Configurator"
**Describe the issue**
I have done a clean installation of the TB Gateway on my Pi Zero today, however I am unable to start the gateway. Is it something to do with new v3.0.1 of the Gateway?

Also, I am reinstalling the TB Gateway in the hope of making the "Remote Configurator" to work on the gateway. I was trying to use the Remote Configurator widget on the server to configure the gateway connect

[2022-01-11 04:32] greg-mcnamara opened #691 "[HELP] OPC-UA connection fails with BadSessionNotActivated error"
**Describe the issue**
I'm testing the OPC-UA connector for the first time with KepServerEx v6 OPC server. I get the following error in the logs when it tries to connect to the server. I'm really not sure if the configuration is correct at all, I'm trying to adapt from the documentation examples.

[code]

Screenshots from Kepware configuration below:

![image](https://user-images.githubusercontent

[2022-01-11 07:44] jeffreylauck commented on #690
I have also tried to install the latest v3.0.1 Gateway onto the same Raspberry Pi Zero (OS: Raspbian 10), no luck.
But when I then install it on a Raspberry Pi 4 (OS: Raspbian 11), it is able to run.
Does it mean the latest TB Gateway cannot be run on Pi Zero?

[2022-01-11 08:37] jeffreylauck opened #692 "[BUG] After sending a remote configuration to gateway from Dashboard, the gateway crash upon next check_connector_configuration_updates"
**Describe the bug**
Here is the steps I took when encountered the bug
1. I added a "Gateway configuration (Single device)" widget to the Dashboard on TB Cloud.
![image](https://user-images.githubusercontent.com/70197122/148905404-b1d7d036-523a-4097-85f7-3b98017bcb49.png)
2. And then I added a new connector to the config
![image](https://user-images.githubusercontent.com/70197122/148905561-de89b64

[2022-01-11 10:31] ysimonx commented on #689
it seems better just now ... mqtt is ok

[2022-01-11 13:15] ysimonx commented on #689
problem solved after "ddos" attack,

[2022-01-11 13:15] #689 closed

[2022-01-13 20:55] serifis84 opened #695 "grpcio not supported on OpenWrt"
After pip3 upgrading thingsboard-gateway i realised grpcio is needed, but it is not supported yet by openwrt. I cannot compile it from source. I am using tb-gateway on Teltonika and Mikrotik (with openwrt firmware) routers.

[2022-01-14 09:06] samson0v commented on #688
Hi @jayneev, we found the bug and will fix it. I will let you know.

[2022-01-14 10:59] Hkrie opened #696 "[HELP] Connecting to Thingsboard and using rest connector"
**Describe the issue**
I try to connect to thingsboard and use the rest connector without success.
I have a Thingsboard instance running on:
http://thingsboard.demo.local/
and a rest-api-endpoint:
http://localhost:8052/mmsp/status/systemStatus/get
==> These work correctly in browser.

I followed the installation guide:
https://thingsboard.io/docs/iot-gateway/install/source-installation/
and config

[2022-01-14 11:26] samson0v commented on #696
Hi @Hkrie, I can't see from logs that you are using REST Connector, I see only MQTT Connector and it seems that you are using the wrong ThingsBoard Gateway token.

[2022-01-14 11:26] Hkrie commented on #690
@jeffreylauck did you find a solution to your problem? I think my problem is quite similar.

[2022-01-14 11:35] Hkrie commented on #696
@samson0v well i did configure the rest connector though... I edited the rest.json that was by the updated tb_gateway.yaml.
(The other config files where created automatically when installing thingsboard-gateway since they are not used in the tb_gateway.yaml i will delete them later on)
![image](https://user-images.githubusercontent.com/64406716/149509053-57c460ed-0590-43ab-a769-0fc34e4513e7.png)

[2022-01-14 11:39] Hkrie commented on #696
@samson0v Do you have a working example on github that i could see for reference? Maybe the folder structure that i got with the source installation (https://thingsboard.io/docs/iot-gateway/install/source-installation/) is malformed somehow...

[2022-01-14 12:07] zbeacon commented on #696
Hi @Hkrie,

Could you try to use IP address instead of thingsboard.demo.local, it may be the issue with dns resolving. Because we can see that the gateway receives a response with message ` connection FAIL with error 3 server unavailable`.
Do you can connect to ThingsBoard using any MQTT client?

[2022-01-14 12:19] Hkrie commented on #696
@zbeacon i am using a vpn to access the thingsboard instance over vpn. I just used the ip address like you advised but the output seems to be the same. Did I maybe edit the wrong files?

I am starting the thingsboard gateway with the command:
thingsboard-gateway

[2022-01-14 12:32] zbeacon commented on #696
Do you have files in /etc/thingsboard-gateway/config ?

[2022-01-14 12:34] Hkrie commented on #696
no. should i create those files (like descriped here: https://thingsboard.io/docs/iot-gateway/configuration/) next to the thingsboard-gateway folder that i currently have?

[2022-01-14 12:37] zbeacon commented on #696
Yes, please move your config folder to /etc/thingsboard-gateway/
And then run thingsboard-gateway

[2022-01-14 12:48] Hkrie commented on #696
should the etc folder be here:
parent-folder\thingsboard_gateway\etc
or here:
parent-folder\thingsboard_gateway\thingsboard_gateway\etc
or here:
parent-folder\etc

[2022-01-14 12:58] Hkrie commented on #696
I get the following output:
[code]

![image](https://user-images.githubusercontent.com/64406716/149519006-b30a226b-d2fa-44da-b845-a89907ebcaa7.png)

[2022-01-14 13:11] Hkrie commented on #696
If i put the etc folder where the config folder was before:
![image](https://user-images.githubusercontent.com/64406716/149520556-b4390e9d-65a3-4013-bf4b-5849c8160ba0.png)

and run the command:
/example-gateway/thingsboard-gateway# thingsboard-gateway

i get pretty much the same error like before:
[complete-command-line-output.txt](https://github.com/thingsboard/thingsboard-gateway/files/7870580/c

[2022-01-14 13:30] Hkrie commented on #696
@zbeacon Does Thingsboard provide a barebone example-demo project where I could see the complete folder structure for a gateway?

[2022-01-14 17:11] #687 closed

[2022-01-14 17:12] ysimonx commented on #687
DDOS on thingsboard.cloud,
<img width="612" alt="Capture d’écran 2022-01-14 à 18 12 04" src="https://user-images.githubusercontent.com/1449867/149556557-8fe412dd-e0cf-4b30-a3d7-3e0bdf8c6aae.png">

[2022-01-14 17:17] ysimonx opened #698 "[BUG] OPCUA it takes 3 minutes for 15 Variables before being ready"
**Scanning OPCUA path is very long**
Each time I start thingsboard-gateway, the process scans for UA variables specified in a opcua.json file with a path
example
`{
            "key": "deltap100",
            "path": "${User Registers\\.cPURE\\.Fan\\.DeltaP_100}"
          }`

The process is very long before the gateway is ready
It takes at least 3 minutes for 15 variables (7 telemetry, 7 attribut

[2022-01-14 17:21] ysimonx commented on #698
reverse-engineering :

`
def get_node_path(self, node: Node):
        return '\\.'.join(node.get_browse_name().Name for node in node.get_path(200000))
`

builds a fullpath for each node and is too long

if I add a "LRU Cache" for this function
`@lru_cache(maxsize=None)
    def get_node_path(self, node: Node):
        return '\\.'.join(node.get_browse_name().Name for node in node.get_path(200000))

[2022-01-14 17:51] ysimonx commented on #698
Same result with
[code]

[2022-01-17 06:31] zbeacon commented on #695
Hi @serifis84 ,

You can try to remove grpcio dependency form setup.py file and try to compile again.
We have updated the master branch and if the gateway cannot load grpc in the code - it will be ignored, but you won't be able to use this connector.
In order to build the gateway image - you can pull the latest master branch version, remove the following dependencies from setup.py: 'grpcio', 'prot

[2022-01-17 09:20] serifis84 commented on #695
@zbeacon Oh! thank you very much sir! I will try it. The issue is now fixed by installing it with:
pip3 install thingsboard-gateway==2.9

[2022-01-17 09:20] #695 closed

[2022-01-17 13:23] rduivenvoorde opened #700 "[BUG] 3.0.1 gateway docker not connecting to Thingsboard?"
**Describe the bug**

Updating th official gateway docker from 2.8 to 3.0.1, there is no connection to ThingsBoard...

Rolling back to 2.8 all is ok again.

In service logs I see:

**Error traceback (If available):**
[code]
Could the above be related to the issue of gateway not connecting to the Thingsboard server?

[2022-01-17 13:37] samson0v commented on #688
Hi @jayneev, let's make a call. I am available from now till 17:00 Ukrainian time via Microsoft teams. Or if you can't today, we can make a call tomorrow.
Make sure you have installed the latest version of Gateway.

[2022-01-17 17:05] jayneev commented on #688
Hi @samson0v, saw your message very late, let's connect tommorrow 02:00 PM Ukrainian time (5:00 PM IST). I will send you Microsoft teams requests separately.

[2022-01-17 21:15] wilterdinkrobert opened #701 "[BUG] OPC-UA connector forgets parameters on re-connection"
**Describe the bug**
When the OPC-UA connection is dropped a new client is created, but the initial settings (from the constructor) are not applied again (e.g. caCert + privateKey). The new client is created here: https://github.com/thingsboard/thingsboard-gateway/blob/5b6f4ee4b7e36f8762ff650279f4b2573e9e67d5/thingsboard_gateway/connectors/opcua/opcua_connector.py#L160

Due to the missing security

[2022-01-17 21:36] wilterdinkrobert opened #702 "[FEATURE] OPC-UA connector should use SourceTimestamp"
In the OPC-UA protocol a source timestamp is available to record/reflect when a variable was sampled by the server, see SourceTimestamp in https://reference.opcfoundation.org/v104/Core/docs/Part4/7.7.3/. This timestamp should be used for recording the data in thingsboard, because:
* The SourceTimestamp accurately reflects when the value was created. Any data transfer or processing time delays will

[2022-01-18 07:58] samson0v commented on #698
Hi @ysimonx, is it ok to close this issue?

[2022-01-18 09:34] ysimonx commented on #698
yes @samson0v :)
thank you

[2022-01-18 09:34] #698 closed

[2022-01-19 09:22] zbeacon commented on #702
Hi @wilterdinkrobert ,

Thank you for participating in the project life. It will be nice, if you prepare a PR.

[2022-01-20 06:57] zbeacon commented on #696
@Hkrie ,

It looks like you have a daemon installation before, so please check folder /etc/thingsboard-gateway/config in your system, not in parent folder.

[2022-01-20 07:06] zbeacon commented on #692
Hi @jeffreylauck ,

Thank you for your interest in ThingsBoard IoT gateway. We have fixed this issue in master branch, so you can try to use in.

[2022-01-20 07:50] samson0v commented on #644
Hi @olafpeters1962, it is not recommended to set deviceName as a Gateway name because of behaviour as above.

[2022-01-20 07:53] samson0v commented on #267
Hi @Ming-Shu, there are fixes for the OPC-UA speed, so you can update your Gateway to the newest version via the master branch and retest it.

[2022-01-20 07:58] samson0v commented on #636
Hi @andrkass, there is a fix of the OPC-UA speed (the first start will have the same speed but the next other will have x6 more speed). So you can update your Gateway via the master branch and retest it.

[2022-01-20 08:03] samson0v commented on #628
Hi @Kernelalive, can we close the issue?

[2022-01-20 08:06] samson0v commented on #700
Hi @rduivenvoorde, try to completely delete the Gateway container and reinstall it.
Thanks for your interest in ThingsBoard IoT Gateway!

[2022-01-20 08:08] samson0v commented on #690
Hi @jeffreylauck, can you send the complete log of Gateway starting?
Thanks for your interest in ThingsBoard IoT Gateway!

[2022-01-20 08:21] jeffreylauck commented on #692
Hi @zbeacon ,

Thanks for fixing the issue. I have pulled the latest code from the master branch and try using the remote configurator on it. However, this time, the gateway terminated with a `Segmentation fault` error message after ThingsBoard pushes the Remote Config to the Gateway.

Below is the full log for your reference:-

[code]

[2022-01-20 08:52] #701 closed

[2022-01-20 08:55] samson0v commented on #691
Hi @greg-mcnamara, try to set `"url": "192.168.50.210:49320"`.
Thanks for your interest in ThingsBoard IoT Gateway!

[2022-01-20 09:05] samson0v commented on #691
Hi @greg-mcnamara, please, send the full log of the Gateway.
Thanks for your interest in ThingsBoard IoT Gateway!

[2022-01-20 12:26] rduivenvoorde commented on #700
@samson0v thank, but this it is a fresh install/deployment... I think?
We deploy containers via ansible, so I upload the version there, and a new image is uploaded and then a fresh container is started (with the mounts to the config etc)?
DO you have an indication what could be the issue then? Because it it (what I think) a fresh image/container, there can be no Pythonpath issues or so?

[2022-01-20 12:38] samson0v commented on #700
@rduivenvoorde I see exception as in you for the first time, so will investigate)

[2022-01-20 17:24] andrkass commented on #636
Thanks,
so i did install it on fresh machine according to https://thingsboard.io/docs/iot-gateway/install/source-installation/
I used my opcua.json configuration enabling subscriptions and I get following error (did not get that in my old 2.5.x version which works nicely

"2022-01-20 17:22:53" - |ERROR| - [_base.py] - _base - _invoke_callbacks - 330 - exception calling callback for <Future at 0x7f

[2022-01-21 04:25] jeffreylauck commented on #690
@samson0v Hi, thanks for following up.

I have found a solution, it seems that the wheel for grpcio published on PyWheel doesn't support armv6 (see [https://github.com/grpc/grpc/issues/26474](https://github.com/grpc/grpc/issues/26474))

As a workaround, I tried installing grpcio from the deb packages first, as mentioned in the above issue post
[code]

And then following the installation guide on t

[2022-01-21 04:25] #690 closed

[2022-01-21 04:33] jeffreylauck commented on #690
Hi Harald,

I have found a solution, it seems that the wheel for grpcio published on
PyWheel doesn't support armv6 (see grpc/grpc#26474
<https://github.com/grpc/grpc/issues/26474>)

As a workaround, I tried installing grpcio from the deb packages first, as
mentioned in the above issue post

sudo apt-get install python3-grpcio

And then following the installation guide on thingsboard-gateway websit

[2022-01-21 13:22] rduivenvoorde commented on #700
@samson0v thanks! But, seeing the exception, do you then also confirm that there is no info flowing between gateway and TB?
Or do you only see the exception, but you still have a working gateway (which in my case is **not** working)?

[2022-01-22 18:56] VeryBitter opened #706 "[BUG] Modbus converter not reading the full register when decoding to binary format (or bits)"
Hi everyone

There is a bug in the file bytes_modbus_uplink_converter.py. When decoding into bits the register obtained with function code 3 or 4, the decoded result is limited to bit 0 to 7 (one byte), while the full register is 16 bit long (two bytes as usual with modbus).

When I add a boolean telemetry to be read from the modbus server to the modbus.json file, like this one
[code]
I get an err

[2022-01-23 05:53] cowherdboy opened #707 "[HELP] Attaching Serial Device to Docker on Windows 10"
I would like to know how to attach RS485 serial device to Docker on Windows 10. The device shows as COM13 on Windows but I do not see any changes in /dev directory on Docker before and after attaching the device. I am trying to use the modbus_serial connector and need to know what to put for 'port' parameter. I am using Thingsboard IoT Gateway version 3.0.1.

[2022-01-23 12:18] #628 closed

[2022-01-24 07:41] zbeacon commented on #707
Hi @cowherdboy ,

Please try to add --device parameter to docker run command, it may help to expose the port to the container - official article from Microsoft is [here](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/hardware-devices-in-containers).
Then please check /dev folder in container and device port should be there.

[2022-01-24 07:43] zbeacon commented on #706
Hi @VeryBitter ,

Thank you for your interest and participating in the project life. Could you make a PR with your fix to the repository?

[2022-01-24 10:45] redasdasd opened #709 "[BUG]Gateway bug"
I found a Gateway bug. When I upgrade Gateway on an old raspberry pi. Upgrading from version 2.6 to the latest version, I get this error.
I also got the same error installing Gateway on a new raspberry pi.
### ### ### ### ### ### ### ### ### ### ### ###
pi@raspberrypi:~ $ systemctl status thingsboard-gateway

● thingsboard-gateway.service - ThingsBoard Gateway
   Loaded: loaded (/etc/systemd/syste

[2022-01-24 12:18] redasdasd commented on #709
I tried your command：

pi@raspberrypi:/tmp $ sudo pip3 install grpcio
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Requirement already satisfied: grpcio in /usr/local/lib/python3.7/dist-packages (1.43.0)
Requirement already satisfied: six>=1.5.2 in /usr/lib/python3/dist-packages (from grpcio) (1.12.0)

### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###

[2022-01-24 12:18] redasdasd commented on #709
I tried your command：

pi@raspberrypi:/tmp $ sudo pip3 install grpcio
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Requirement already satisfied: grpcio in /usr/local/lib/python3.7/dist-packages (1.43.0)
Requirement already satisfied: six>=1.5.2 in /usr/lib/python3/dist-packages (from grpcio) (1.12.0)

### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###

[2022-01-24 12:20] redasdasd commented on #709
I tried your command：

pi@raspberrypi:/tmp $ sudo pip3 install grpcio
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Requirement already satisfied: grpcio in /usr/local/lib/python3.7/dist-packages (1.43.0)
Requirement already satisfied: six>=1.5.2 in /usr/lib/python3/dist-packages (from grpcio) (1.12.0)

### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###

[2022-01-24 12:36] redasdasd commented on #709
### ### ### ### ### ### ###
this my system log
### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
pi@raspberrypi:/tmp $ sudo journalctl -xe
Jan 24 13:34:28 raspberrypi python3[1308]:     from grpc import _compression
Jan 24 13:34:28 raspberrypi python3[1308]:   File "/usr/local/lib/python3.7/dist-packages/grpc/_compression.py", line 15, in <module>
Jan 24 13:34:28 raspberrypi pyth

[2022-01-24 13:13] zbeacon commented on #709
Ok, than please try to install grpc using the following command:

sudo apt install python3-grpcio

[2022-01-24 13:43] redasdasd commented on #709
### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
like this:
Jan 24 14:39:22 raspberrypi systemd[1]: Started ThingsBoard Gateway.
-- Subject: A start job for unit thingsboard-gateway.service has finished successfully
-- Defined-By: systemd
-- Support: https://www.debian.org/support
--
-- A start job for unit thingsboard-gateway.service has finished successfully.
--
--

[2022-01-24 13:57] zbeacon commented on #709
Ok, It is strange and I have not discovered behavior like this, please try also

`sudo pip3 install grpcio -tools -U --no-binary=grpcio --no-binary=grpcio-tools` - if it doesn't help please let us know.

[2022-01-24 14:59] cowherdboy commented on #707
Hi @zbeacon

I tried the instructions in the page but no luck. The page does say it is only for Windows container.

[2022-01-24 16:20] redasdasd commented on #709
### ### ### ### ### ### ### ### ### ### ### ### ###
same error as log
### ### ### ### ### ### ### ### ### ### ### ### ###
Jan 24 16:49:47 raspberrypi systemd[1]: Started ThingsBoard Gateway.
-- Subject: A start job for unit thingsboard-gateway.service has finished successfully
-- Defined-By: systemd
-- Support: https://www.debian.org/support
--
-- A start job for unit thingsboard-gateway.service h

[2022-01-24 16:39] redasdasd commented on #709
### ### ### ### ### ### ### ###
I found an almost identical bug. but no solution.

https://github.com/thingsboard/thingsboard-gateway/issues/366

[2022-01-25 07:51] luolitao commented on #709
pip3 install --upgrade protobuf

[2022-01-25 08:28] redasdasd commented on #709
### ### ### ### ### ### ### ### ### ### ###
pip3 install --upgrade protobuf
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Requirement already up-to-date: protobuf in /usr/local/lib/python3.7/dist-packages (3.19.3)
### ### ### ### ### ### ### ### ### ### ### ###
Jan 25 09:25:51 raspberrypi python3[1165]: Traceback (most recent call last):
Jan 25 09:25:51 raspberrypi p

[2022-01-25 08:48] redasdasd commented on #709
I installed Gateway version 2.9 on a new raspberry pi. Everything works fine. The error seems to be on the latest version.

[2022-01-26 02:51] cowherdboy commented on #707
Hi @zbeacon

There seems to be a way to do this for linux containers in Windows:
https://devblogs.microsoft.com/commandline/connecting-usb-devices-to-wsl/
https://docs.microsoft.com/en-us/windows/wsl/connect-usb

I tried and it works for Ubuntu-20.04 WSL instance but not for thingsboard-gateway docker. Even for Ubuntu-20.04 the drivers for my USB-RS485 dongle were not present as per:
https://githu

[2022-01-26 02:51] #707 closed

[2022-01-26 03:41] cowherdboy opened #712 "[BUG] Unable to use Modbus Connector on Raspberry Pi 2"
**Describe the bug**
I wasn't able to use modbus connector on Raspberry Pi 2. I got the following warning:
|WARNING| - [tb_gateway_service.py] - tb_gateway_service - _connect_with_connectors - 473 - Connector implementation not found for Modbus Connector"

**Connector name (If bug in the some connector):**
Modbus Connector

**Error traceback (If available):**
[code]

[2022-01-26 07:20] zbeacon commented on #712
Hi @cowherdboy ,

It looks like something wasn't installed, required by Modbus connector, could you try to run the following command and restart the gateway:

[code]

[2022-01-26 09:12] qwerty13 opened #714 "[HELP] Serial Modbus sampling is slow"
**Describe the issue**

How to increase sample rate in modbus serial (rtu) mode?
as my attampts, the max telemetry recieve rate (i count them in a Timeseries table gadget) is 5 per second (and sometimes 4 or 3 or even 1). how can i increase it? i just set polling periods less than 200 ms but rate is still 5/s (= 200ms)...
edit: i used modpoll and it can poll even in 10ms

**Configuration** (Attach

[2022-01-26 11:22] cowherdboy commented on #712
Hi @zbeacon,

Thank you. After installing I got the following:

Jan 26 18:20:14 raspberrypi python3[1962]: ""2022-01-26 18:20:14" - |INFO| - [tb_gateway_service.py] - tb_gateway_service - __init__ - 93 - Gateway starting..."
Jan 26 18:20:14 raspberrypi python3[1962]: ""2022-01-26 18:20:14" - |INFO| - [tb_gateway_service.py] - tb_gateway_service - __init__ - 98 - ThingsBoard IoT gateway version: 3.

[2022-01-26 11:22] #712 closed

[2022-01-26 12:37] qwerty13 commented on #714
There's some "sleep(.2)" (ex. in thingsboard_gateway/connectors/modbus/slave.py).
when i change it to sleep(2) sampling rate drops to 1 sample in 2 seconds but sleep(.1) don't increase speed more than sleep(.2)...

[2022-01-26 13:30] #692 closed

[2022-01-27 02:57] ndrs-cwt opened #715 "Question about file type and SQLite type storage"
Hi all

I have a question about choosing a storage type. Back then we have memory and file storage. The file type will keep data when power off and the memory type won't.

But now we have a new storage type, SQLite type, so I have some questions about it.
- What is the advantage of SQLite type over file type such as speed, memory usage, storage space usage, wear level of storage(HDD, SD card, EEPR

[2022-01-27 03:13] ndrs-cwt commented on #709
In my case, ```ImportError: /lib/arm-linux-gnueabihf/libc.so.6: version `GLIBC_2.33'``` is shown because my libc6 on my system is too old to use the lastest grpcio.

IIRC my workaround back then is
-remove grpcio and protobuf from setup.py
-create new deb package
-install that deb package
-manual install grpcio by ```sudo apt install python3-grpcio``` to get the lib that compatible with libc on my

[2022-01-27 09:19] samson0v commented on #715
Hi @ndrs-cwt,
SQLite pros:
1. In many common cases, loading content from an SQLite database is faster than loading content out of individual files. See Internal Versus External BLOBs for additional information.
2. The content can be viewed using third-party tools.
3. The application file is portable across all operating systems, 32-bit and 64-bit and big- and little-endian architectures
4. It is e

[2022-01-27 09:20] #715 closed

[2022-01-28 08:47] samson0v commented on #706
Hi @VeryBitter, resolve your problem via PR #716

[2022-01-28 09:54] VeryBitter commented on #706
Guys,
this is my first pull request ever, I may have not done things the right way, I am very sorry.
I pulled a request from my fork since I found out that the bit order was not right with my first solution.
This one is better
[code]
I am sure my pull request was effective.

[2022-01-29 12:12] arunkumar790 commented on #636
I am using version 2.8 and getting the same error. Any help would be great. Thanks

[2022-01-31 11:11] #650 closed

[2022-01-31 12:06] rduivenvoorde commented on #700
Some more trials:

Creating an Image from current master does not fix this issue yet (I was hoping it was fixed by one of the recent commits :-))

Using current master, in tb_connection.log I see only :
```""2022-01-31 08:23:53" - |INFO| - [tb_gateway_mqtt.py] - tb_gateway_mqtt - gw_subscribe_to_attribute - 175 - Subscribed to *|* with id 1 for device *"```
and no 'connection SUCCESS' message...

[2022-02-01 06:58] avipala opened #719 "[HELP]"
**Describe the issue**
Create description about your issue, and your actions to solve it.

**Configuration** (Attach your configuration file)
**Notate: Remove Access token from file if you want to attach a tb_gateway.yaml**

**Connector name (If you need help with some connector/converter):**
[e.g. MQTT Connector]

**Error traceback (If it was raised):**
[code]

**Versions (please complete the fol

[2022-02-01 07:01] avipala commented on #719
I am using a Gateway that is sending list of devices that is scans periodically. Once it detects a new device it adds it to the list of devices. But once the device is no longer transmitting (for a period of 30 sec), I want to remove it from the device list (which will also remove it from the MAP). It doesn't work automatically, How can I do it?

[2022-02-01 08:24] zbeacon commented on #719
Hi @avipala ,

Actually, there is no functionality like you describe. But we will add it and set this issue as a feature request.

Thank you for your interest in ThingsBoard IoT gateway.

[2022-02-01 08:53] avipala commented on #719
This is great news. I am using teh coomunity version runing on a raspberry pi.
How will I know when this feature is ready and how can I integrate it into my existing code?

Is there a way to refresh the list of devices automatically?
The way I do it currently is to manually remove all devices exceot of the gateway and wait till the live devices come up again. This way dead devices are "removed". I

[2022-02-01 15:39] zbeacon commented on #719
This question does not relate to the gateway and we cannot help you with this. But you can create an issue on [ThingsBoard repository](https://github.com/thingsboard/thingsboard) and ask there.

[2022-02-01 15:40] avipala commented on #719
Thank you!

[2022-02-02 09:04] #702 closed

[2022-02-02 10:10] santobedi opened #722 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe2 in position 4: invalid continuation byte"
**Describe the issue**
Random value (unexpected) as telemetry while using Modbus connector. The  Last Update Time always toggles with fixed past times. However, everything is fine with the Attributes (Client).

**Connector name (If you need help with some connector/converter):** Modbus Connector

**Error traceback (If it was raised):**
[code]

**Versions (please complete the following information)

[2022-02-02 11:40] #719 closed

[2022-02-02 12:51] samson0v commented on #722
Hi @santobedi, send, please, your Modbus config file.
Thanks for your interest in ThingsBoard IoT Gateway!

[2022-02-02 13:26] santobedi commented on #722
Hello @samson0v,
Following in my Modbus config file.

[code]

[2022-02-02 17:18] ysimonx opened #724 "[BUG] Writing Int32 Shared Attribute to OPC UA node fails"
**Writing Int32 Shared Attribute to OPC UA node fails**
Although I am able to modify a opcua node value of type "double" or "string", I don't manage to modify a Int32 value of a OPCUA Node

I choose to modify a "shared attribute" as a "Integer"
<img width="776" alt="Capture d’écran 2022-02-02 à 18 14 38" src="https://user-images.githubusercontent.com/1449867/152203456-7a9313bb-6c74-4495-a2ba-80e

[2022-02-03 07:26] santobedi commented on #722
@samson0v On the MQTT connector within the same IoT gateway (device: raspberry pi 3, Ubuntu 20.04.3 LTS (GNU/Linux 5.4.0-1050-raspi armv7l) ), the attribute is fine and updated. However, telemetry is not.

[2022-02-03 09:38] samson0v commented on #722
Hi @santobedi, can you, please, write steps to reproduce the bug and also send the registers data (using for example modpoll).

[2022-02-03 10:05] zbeacon commented on #724
Hi @ysimonx ,

Thank you for your interest in ThingsBoard IoT gateway, please try to use the version from the master branch and let us know about the results.

[2022-02-03 11:16] santobedi commented on #722
Hello @samson0v ,

The Modbus TCP power tags are from [Schneider](https://www.se.com/us/en/). Attached herewith are the screenshots of Telemetry from Gateway device and one of the Modbus power tags. I've noticed that the time shown in Logs of Gateway is same as the time displayed as `last time update`  of the Modbus device (devices created by the gateway in the TB). This `last time update` is not

[2022-02-03 12:05] #619 closed

[2022-02-03 12:10] samson0v commented on #636
Hi @arunkumar790, @andrkass, please try to use the version from the master branch and let us know about the results.

[2022-02-03 12:14] samson0v commented on #684
Hi @l33tkrew, please try to use the version from the master branch and let us know about the results.

[2022-02-03 12:16] samson0v commented on #691
Hi @greg-mcnamara, please try to use the version from the master branch and let us know about the results.

[2022-02-03 12:26] Pan8284 opened #726 "Connecting a BLE device to the Thingsboard gateway"
Hi Team,

Thanks for the response

here is the error I am getting after putting latest build or upgrading the thingsboard-gateway w.r.t ble connector issue

smartcity@smartcity-VirtualBox:/usr/lib/python3/dist-packages/thingsboard_gateway/connectors/ble$ sudo thingsboard-gateway
[STREAM ONLY] 2022-02-03 16:58:35,676 - ERROR - [device.py] - device - 183 - Characteristic with UUID dac508b1-ee98-417c

[2022-02-03 12:32] samson0v commented on #722
@santobedi it seems that your system use the wrong time and it is not a Gateway bug because it uses a system date and time.

[2022-02-03 12:37] samson0v commented on #726
Hi @Pan8284, please, send your ble config file and logs from the device scanner (in device config section set `"showMap": true`).
Thanks for your interest in ThingsBoard IoT Gateway.

[2022-02-03 12:38] santobedi commented on #722
@samson0v  What about the wrong telemetry? And the raised error?

[2022-02-03 12:40] samson0v commented on #722
@santobedi, can you, please, write steps to reproduce the error, wrong telemetry and also send the registers data (using for example modpoll).
Thanks!

[2022-02-03 13:55] santobedi commented on #722
@samson0v , I installed the gateway from [source](https://thingsboard.io/docs/iot-gateway/install/source-installation/). Configured the` tb_gateway.yaml` ,`modbus.json`, and `mqtt.json` (/home/myDevice/thingsboard-gateway/thingsboard_gateway/config/), then ran `python3 ./thingsboard_gateway/tb_gateway.py` command. After this, the devices are created in the TB.

The wrong telemetry from one of the

[2022-02-04 04:58] Pan8284 commented on #726
PFA ble config file. Pls confirm how to get device scanner logs (url)

{
    "name": "BLE Connector",
    "rescanIntervalSeconds": 100,
    "checkIntervalSeconds": 100,
    "scanTimeSeconds": 5,
    "passiveScanMode": true,
    "devices": [
        {
            "name": "BLETE",
            "MACAddress": "C0:EE:FB:F3:AA:43",
            "addrType":"public",
            "telemetry": [

[2022-02-06 11:29] VeryBitter commented on #706
Hi I think I succeeded in creating my first pull request see #728. I changed the order of the two bytes, to get the correct 16 bit order, I think. Works with my modbus devices. Could be different on some other applications. We would need then to get byte_order to work during bit decoding. If anyone knows...

[2022-02-07 06:57] hangusto commented on #637
@samson0v Thx, it is work.

[2022-02-07 08:11] samson0v commented on #726
Hi @Pan8284, you have to use `"showMap": true` in the device section config, for example:
<img width="427" alt="зображення" src="https://user-images.githubusercontent.com/43861229/152749289-b2bb72ad-67d1-4728-9dcf-ef0f42006bb5.png">

[2022-02-07 08:28] #706 closed

[2022-02-07 08:42] samson0v commented on #700
Hi @rduivenvoorde, any progress? because we can't reproduce this issue. I have another Docker file written by me, you can try to use it. You have to create Dockerfile in the project root folder (thingsboard-gateway/).
[code]

[2022-02-07 09:03] Pan8284 commented on #726
I have set the showMap:true but from where to find the logs

[2022-02-07 10:07] jeffreylauck opened #729 "[BUG] Modbus read_holding_registers (funcCode 3) returns Exception IllegalAddress"
**Describe the bug**
When I use the modbus connector to read from a modbus slave with function code 3 using the below config, an error is returned.

I found that if I remove "* 8" in `connectors/modbus/modbus_connector.py`, the code will run correctly. May I check if "* 8" can be removed? (The "*8" was recently added in #716 )

Tried with PyModbus REPL, the `count` parameter need not be multiplied

[2022-02-07 10:50] herken opened #730 "Raspberry 4 - Thinkboard installed but not starting"
**Describe the issue**
Hello,
i just installed thinkboard and configured it but the service never start:

systemctl status thingsboard-gateway
● thingsboard-gateway.service - ThingsBoard Gateway
   Loaded: loaded (/etc/systemd/system/thingsboard-gateway.service; enabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Mon 2022-02-07 10:42:17 UTC; 8s ago
  Process: 5192 ExecStar

[2022-02-07 11:19] zbeacon commented on #730
Hi @herken ,

Please try to find the error in output of command: `sudo journalctl` (run it after restart the gateway).

[2022-02-07 11:50] herken commented on #730
Hello,

here the output
`sudo journalctl
-- Logs begin at Thu 2019-02-14 10:12:01 UTC, end at Mon 2022-02-07 11:49:46 UTC. --
fév 14 10:12:01 rb0004 kernel: Booting Linux on physical CPU 0x0
fév 14 10:12:01 rb0004 kernel: Linux version 4.19.97-v7l+ (dom@buildbot) (gcc version 4.9.3 (crosstool-NG crosstool-ng-1.22.0-88-g8460
fév 14 10:12:01 rb0004 kernel: CPU: ARMv7 Processor [410fd083] revision 3

[2022-02-07 14:08] rduivenvoorde commented on #700
@samson0v thanks for this. Not sure what 'fixed' it, but taking the latest image 3.0.1 now just works...

Sorry for the noise...

Will close this one.

[2022-02-07 14:08] #700 closed

[2022-02-08 05:31] jeffreylauck commented on #729
I have submitted a PR #732 for this issue, please check and comment. Thanks!

[2022-02-08 07:00] #729 closed

[2022-02-08 08:23] samson0v commented on #726
Hi @Pan8284, you get logs in the place where got them.
<img width="816" alt="зображення" src="https://user-images.githubusercontent.com/43861229/152946757-3ec46ba2-bfa8-4b88-9c7c-abd559dd9851.png">

[2022-02-08 09:03] Pan8284 commented on #726
Logs are the same as shared earlier even after setting the ShowMap:true

[2022-02-08 13:56] ysimonx opened #735 "[BUG] OPC UA connector - telemetry and attribute mapping fails"
**Matching keys with regex fails **
in my opcua.json, i have a key for both telemetry and attributes
${User Registers\\.cPURE\\.Fan\\.DeltaP_100}

but, opc ua connector matches this key with both

User Registers\.cPURE\.Fan\.DeltaP_10
and
User Registers\.cPURE\.Fan\.DeltaP_100

because of that

line 589 opcua connector ...

`                        regex_search = fullpath_pattern.fullmatch(nnp1, p

[2022-02-08 14:06] ysimonx commented on #724
Hi @zbeacon

I tried the master branch
I had this error

`

""2022-02-08 15:04:00" - |ERROR| - [opcua_connector.py] - opcua_connector - on_attributes_update - 235 - "The value supplied for the attribute is not of the same type as the attribute"s value."(BadTypeMismatch)"
Traceback (most recent call last):
  File "/opt/homebrew/lib/python3.9/site-packages/thingsboard_gateway-3.0.1-py3.9.egg/thingsb

[2022-02-08 14:27] ysimonx commented on #735
cf : https://github.com/thingsboard/thingsboard-gateway/pull/736

[2022-02-08 16:56] ysimonx commented on #724
this is what i just made, and now, I manage to update a int32 value

before:

[code]

after :

[code]

[2022-02-08 21:29] ysimonx commented on #724
PR https://github.com/thingsboard/thingsboard-gateway/pull/737

[2022-02-09 07:43] ferguscan commented on #709
I can confirm that the latest Docker image is broken on ARMv7.  The issue is resolved by downgrading grpcio.  I created a pull request: https://github.com/thingsboard/thingsboard-gateway/pull/738

[2022-02-09 11:17] ysimonx commented on #724
PR https://github.com/thingsboard/thingsboard-gateway/pull/737 merged :) thx @zbeacon

[2022-02-09 11:17] #724 closed

[2022-02-09 11:52] samson0v commented on #726
@Pan8284, in the logs, have to be something like that:
<img width="825" alt="зображення" src="https://user-images.githubusercontent.com/43861229/153195392-6e08b96a-dc54-4e07-b4c2-1e53e1874f71.png">

[2022-02-09 12:44] Pan8284 commented on #726
Can we connect over call as today my Bluetooth is not getting with System....
I am working on VM..

So I'll not able to share the logs with you.

Pls suggest

[2022-02-09 13:02] samson0v commented on #726
@Pan8284, why are you sending the tail of the logs? The logs you should get are +- at the head of logs.

[2022-02-09 13:12] Pan8284 commented on #726
sudo systemctl status thingsboard-gateway.service
● thingsboard-gateway.service - ThingsBoard Gateway
     Loaded: loaded (/etc/systemd/system/thingsboard-gateway.service; enabled; vendor preset: enabled)
     Active: active (running) since Wed 2022-02-09 18:39:36 IST; 3s ago
   Main PID: 30925 (python3)
      Tasks: 10 (limit: 4632)
     Memory: 28.6M
     CGroup: /system.slice/thingsboard-gatewa

[2022-02-09 13:14] Pan8284 commented on #726
when I do systemctl status thingsboard-gateway then output is different to when I do thingsboard-gateway

Why?

[2022-02-09 13:41] samson0v commented on #726
@Pan8284, try to use the next commands:
sudo chown thingsboard_gateway. /var/log/thingsboard-gateway  -R
sudo systemctl restart thingsboard-gateway

[2022-02-09 16:04] ysimonx opened #741 "[BUG] OPC UA identification by user/password fails 'uacrypto' is not defined"
**I am trying to connect an OPCUA Server configured with an user/password access : the connexion fails**

while I am able to connect anonymously, when i configure the opcua connexion with a username and a password

[code]

the OPC UA connexion is not done beetween thingsboard-gateway and OPC UA Server (loytec device)

when I Try this connexion with another OPC UA client (prosys) : the connexion is

[2022-02-09 16:19] ysimonx commented on #741
Yes, I just found this solution

I will propose a fix like this :

[code]

With this code, i manage to connect !

Thank you @zbeacon

[2022-02-09 16:29] ysimonx commented on #741
@zbeacon : PR https://github.com/thingsboard/thingsboard-gateway/pull/742
;-)

thank you

[2022-02-09 16:37] #741 closed

[2022-02-10 09:19] Pan8284 commented on #726
Its the same logs are not getting created.... Can we get on the call to solve it.
Its been long pending

[2022-02-10 13:29] zbeacon commented on #730
Unfortunately, there is not error, related to the gateway, please try to stop the gateway, using `sudo systemctl stop thingsboard-gateway`, move to /etc/thingsboard-gateway folder using `cd /etc/thingsboard-gateway/` and run the gateway using `sudo thingsboard-gateway`. Will it run and what is the output?

[2022-02-10 13:33] herken commented on #730
Hello,

here the output
`eall-user@rb0004:/etc/thingsboard-gateway $ sudo thingsboard-gateway
Traceback (most recent call last):
  File "/usr/bin/thingsboard-gateway", line 33, in <module>
    sys.exit(load_entry_point('thingsboard-gateway==3.0.1', 'console_scripts', 'thingsboard-gateway')())
  File "/usr/bin/thingsboard-gateway", line 25, in importlib_load_entry_point
    return next(matches).loa